force-app/main/default/flows/a4x_Update_Applicable_Sales_Price_in_Opp_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Flagged_Item</name>
        <label>Flagged Item</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Dimension_Update_Key_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flagged_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flagged_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dimension_Update_Key_0_0</targetReference>
            </connector>
            <label>Is Flagged Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Matching_Order_Record</name>
        <label>Has Matching Order Record</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Applicable_Sales_Price_CHF_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Sales_Price_From_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicable_Sales_Price_CHF</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UnitPriceCHF</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Unit_Price__c}
*
CASE({!$Record.CurrencyIsoCode},
&quot;EUR&quot;, {!$Setup.Constant_Exchange_Rates__c.EUR2CHF__c},
&quot;JPY&quot;, {!$Setup.Constant_Exchange_Rates__c.JPY2CHF__c},
&quot;USD&quot;, {!$Setup.Constant_Exchange_Rates__c.USD2CHF__c},
1
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateDimensionUpdateKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.SF_Account_Number__c} &amp;&quot;-&quot;&amp; {!$Record.Ordering_Code__c}</expression>
    </formulas>
    <interviewLabel>a4x Update Applicable Sales Price in Opp Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>a4x Update Applicable Sales Price in Opp Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Sales_Price_From_Order</name>
        <label>Get Latest Sales Price From Order</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Matching_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>a4a_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ordering_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Owner_SF_Acc_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SF_Account_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>a4a_Price_per_Unit__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>a4a_Price_per_Unit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>a4a_Measure_Filter_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billings__c</object>
        <sortField>a4a_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicable_Sales_Price_CHF</name>
        <label>Update Applicable Sales Price CHF</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>a4x_Applicable_Sales_Price_CHF__c</field>
            <value>
                <elementReference>Get_Latest_Sales_Price_From_Order.a4a_Price_per_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicable_Sales_Price_CHF_0</name>
        <label>Update Applicable Sales Price CHF</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>a4x_Applicable_Sales_Price_CHF__c</field>
            <value>
                <elementReference>UnitPriceCHF</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dimension_Update_Key_0</name>
        <label>Update Dimension Update Key</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Latest_Sales_Price_From_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>a4x_Key_Dim_Update__c</field>
            <value>
                <elementReference>UpdateDimensionUpdateKey</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dimension_Update_Key_0_0</name>
        <label>Update Dimension Update Key</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Dimension_Update_Key_0</targetReference>
        </connector>
        <inputAssignments>
            <field>a4x_Key_Dim_Update__c</field>
            <value>
                <elementReference>UpdateDimensionUpdateKey</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dimension_Update_Key_0_0_0</name>
        <label>Update Dimension Update Key</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>a4x_Key_Dim_Update__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flagged_Item</targetReference>
        </connector>
        <filterFormula>/* based on the Validation Rule https://u-blox.my.salesforce.com/03d2p00000034Px?setupid=CustomObjects
to avoid flow errors caused by this validation rule */
NOT(
NOT(ISPICKVAL({!$Record.Use_Restriction__c},&quot;&quot;)) &amp;&amp; ISPICKVAL({!$Record.IPR_Coverage__c},&quot;&quot;) &amp;&amp;
DATEVALUE ({!$Record.CreatedDate}) &gt;= DATE (2021,04,23)
)</filterFormula>
        <object>Opp_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
