force-app/main/default/flows/a4x_Reset_Values_after_Unflagging_Of_Opp_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Measure_to_Update_Collection</name>
        <label>Add Measure to Update Collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>MeasuresToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Measure_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Measure_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Loop_Measure</name>
        <label>Update Loop Measure</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Measure_Loop.a4x__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Null</name>
        <dataType>Number</dataType>
        <expression>NULL</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>a4x Reset Values after Unflagging Of Opp Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>a4x Reset Values after Unflagging Of Opp Product</label>
    <loops>
        <name>Measure_Loop</name>
        <label>Measure Loop</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Manual_Forecast_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Loop_Measure</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Measures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manual_Forecast_Records</name>
        <label>Get Manual Forecast Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Measure_Loop</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>a4x__Cube__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual Forecast</stringValue>
            </value>
        </filters>
        <filters>
            <field>a4x__Cube__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supply Constraint</stringValue>
            </value>
        </filters>
        <filters>
            <field>a4x__Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Account.SF_Account_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ordering_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>a4x__Measure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Measures</name>
        <label>Update Measures</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>MeasuresToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Manual_Forecast_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flagged_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opp_Product__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MeasuresToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>a4x__Measure__c</objectType>
    </variables>
</Flow>
