force-app/main/default/flows/a4x_Account_To_Consolidate_Exceptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Has_Records</name>
        <label>Has Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Is Null</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Forecast_Consolidation_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_a4a_Account_To_Consolidate_0</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <description>Overrides the Standard Order Project Owner with the Account To Consolidate Exception defined in the a4x Forecast Consolidation Mapping</description>
    <interviewLabel>a4x Account To Consolidate Exceptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>a4x Account To Consolidate Exceptions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Forecast_Consolidation_Mapping</name>
        <label>Get Forecast Consolidation Mapping</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.SF_Account_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_End_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.End_Customer_Account__r.SF_Account_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Project_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Owner_Account__r.SF_Account_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>a4x_Forecast_Consolidation_Mapping__mdt</object>
        <sortField>Order_Account__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_a4a_Account_To_Consolidate_0</name>
        <label>Update a4a Account To Consolidate</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>a4a_Account_To_Consolidate__c</field>
            <value>
                <elementReference>Get_Forecast_Consolidation_Mapping.Account_To_Consolidate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>a4a_Country_To_Consolidate__c</field>
            <value>
                <elementReference>Get_Forecast_Consolidation_Mapping.Country_To_Consolidate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>a4a_Region_To_Consolidate__c</field>
            <value>
                <elementReference>Get_Forecast_Consolidation_Mapping.Region_To_Consolidate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Billings__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Forecast_Consolidation_Mapping</targetReference>
        </connector>
        <object>Billings__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
