force-app/main/default/flows/Account_Create_Update_Processes_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Account_Set_Type</name>
        <label>Account Set Type</label>
        <locationX>66</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Account_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Transfer_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Address_Changed_Assignment</name>
        <label>Address Changed Assignment</label>
        <locationX>64</locationX>
        <locationY>1351</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Founds_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Channel_Manager</name>
        <label>Set Channel Manager</label>
        <locationX>71</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>$Record.Channel_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Channel_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Account_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Channel_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Email_Channel_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Address_from_Abacus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Copy_Address_from_Abacus</name>
        <label>Set Copy Address from Abacus</label>
        <locationX>65</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>$Record.Copy_Address_from_Abacus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isCopyAddressFromAbacus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visiting_Address_from_Abacus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Visiting_Address</name>
        <label>Update Visiting Address</label>
        <locationX>67</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Visiting_Address_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Type_set_in_Lead_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Founds_to_Update</name>
        <label>Account Founds to Update</label>
        <locationX>353</locationX>
        <locationY>1478</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Found_To_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Account Found To Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Type_set_in_Lead_Decision</name>
        <label>Account Type set in Lead Decision</label>
        <locationX>362</locationX>
        <locationY>1021</locationY>
        <defaultConnector>
            <targetReference>Address_Transfer_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Type_set_in_Lead_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Account_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Set_Type</targetReference>
            </connector>
            <label>Account Type set in Lead Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Address_Transfer_Condition</name>
        <label>Address Transfer Condition</label>
        <locationX>351</locationX>
        <locationY>1239</locationY>
        <defaultConnector>
            <targetReference>Account_Founds_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Transfer_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Changed_Assignment</targetReference>
            </connector>
            <label>Address Transfer Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_Address_from_Abacus</name>
        <label>Copy Address from Abacus</label>
        <locationX>364</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Update_Visiting_Address_from_Abacus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_Address_from_Abacus_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Linked_to_Abacus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Copy_Address_from_Abacus</targetReference>
            </connector>
            <label>Copy Address from Abacus Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Channel_Manager_Mismatch</name>
        <label>Is Channel Manager Mismatch</label>
        <locationX>362</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Copy_Address_from_Abacus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Channel_Manager_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Email_Account_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Channel_Manager</targetReference>
            </connector>
            <label>Channel Manager Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Visiting_Address_from_Abacus</name>
        <label>Update Visiting Address from Abacus</label>
        <locationX>366</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>Account_Type_set_in_Lead_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Visiting_Address_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Copy_Address_from_Abacus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCopyAddressFromAbacus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Visiting_Address</targetReference>
            </connector>
            <label>Update Visiting Address Condition</label>
        </rules>
    </decisions>
    <interviewLabel>Account : Create Update Processes After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : Create Update Processes After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>62</locationX>
        <locationY>1622</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>244</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Channel_Manager_Mismatch</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FlagUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isCopyAddressFromAbacus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
