force-app/main/default/flows/Account_Create_Update_Processes_Before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Change_Record_Type_to_Media</name>
        <label>Change Record Type to Media</label>
        <locationX>441</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> 01257000000KKhv</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Distributor</name>
        <label>Populate Distributor</label>
        <locationX>105</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>$Record.Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userDistributorName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Create_Update_Scenarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Report_Type_to_Finance</name>
        <label>Report Type to Finance</label>
        <locationX>672</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01257000000Bdzu</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reporting_Area_to_Corporate</name>
        <label>Reporting Area to Corporate</label>
        <locationX>119</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reporting_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Create_Update_Scenarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reporting_Region_to_Coorporate</name>
        <label>Reporting Region to Coorporate</label>
        <locationX>103</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reporting_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Create_Update_Scenarios</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Before_Create_Update_Scenarios</name>
        <label>Before Create Update Scenarios</label>
        <locationX>431</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reporting_Area_Contains_HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_Area_to_Corporate</targetReference>
            </connector>
            <label>Reporting Area Contains HQ</label>
        </rules>
        <rules>
            <name>Reporting_region_contains_HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_Region_to_Coorporate</targetReference>
            </connector>
            <label>Reporting region contains HQ</label>
        </rules>
        <rules>
            <name>populate_Distributor_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distributor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userDistributorName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>userDistributorName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Distributor</targetReference>
            </connector>
            <label>populate Distributor Name</label>
        </rules>
        <rules>
            <name>Set_Report_Type_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_To_Convert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>now_CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.042</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Report_Type_to_Finance</targetReference>
            </connector>
            <label>Set Report Type Finance</label>
        </rules>
        <rules>
            <name>Report_Type_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_To_Convert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>now_CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.042</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Record_Type_to_Media</targetReference>
            </connector>
            <label>Report Type Media</label>
        </rules>
    </decisions>
    <formulas>
        <name>now_CreatedDate</name>
        <dataType>Number</dataType>
        <expression>NOW()-{!$Record.CreatedDate}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>userDistributorName</name>
        <dataType>String</dataType>
        <expression>{!$User.Distributor_Name__c}</expression>
    </formulas>
    <interviewLabel>Account : Create Update Processes Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : Create Update Processes Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>314</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Before_Create_Update_Scenarios</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
