force-app/main/default/flows/Account_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Acc_Notify_changes_made_not_by_owner</name>
        <label>Acc: Notify changes made not by owner</label>
        <locationX>602</locationX>
        <locationY>558</locationY>
        <actionName>Account.Acc_Notify_changes_made_not_by_owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notify_of_new_APAC_Account_from_no_APAC_user</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Acc_notify_new_Owner</name>
        <label>Acc: notify new Owner</label>
        <locationX>617</locationX>
        <locationY>1261</locationY>
        <actionName>Account.Acc_notify_new_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Owner_Notified</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Acc_notify_of_new_APAC_Acc_from_non_APAC_user</name>
        <label>Acc: notify of new APAC Acc from non-APAC user</label>
        <locationX>610</locationX>
        <locationY>805</locationY>
        <actionName>Account.Acc_notify_of_new_APAC_Acc_from_non_APAC_user</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Potential_Competitor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Acc_Potential_Competitor_created</name>
        <label>Acc_Potential_Competitor_created</label>
        <locationX>606</locationX>
        <locationY>1051</locationY>
        <actionName>Account.Acc_Potential_Competitor_created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notify_new_Owner_of_new_Account_from_Abacus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_New_Opp_to_Account</name>
        <label>Post New Opp to Account</label>
        <locationX>627</locationX>
        <locationY>1575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Remove_New_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Check this new opportunity, that has just been created: https://u-blox.my.salesforce.com/{!Record.New_Opportunity__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_New_Order_to_Account</name>
        <label>Post New Order to Account</label>
        <locationX>626</locationX>
        <locationY>1931</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Remove_New_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>There is a new order {!Record.New_Order__r.Name}! Product: {!Record.New_Order__r.Product_Name__c} Quantity Ordered: {!Record.New_Order__r.Qty_Ordered__c} Confirm Date: {!Record.New_Order__r.Confirm_Date__c}  Link: https://u-blox.my.salesforce.com/{!Record.New_Order__r.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Check_Owner_Notified</name>
        <label>Check Owner Notified</label>
        <locationX>619</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>Record.Owner_Notified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlagEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Opportunity_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_New_Opportunity</name>
        <label>Remove New Opportunity</label>
        <locationX>627</locationX>
        <locationY>1726</locationY>
        <assignmentItems>
            <assignToReference>Record.New_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlagEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Order_added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_New_Order</name>
        <label>Remove New Order</label>
        <locationX>626</locationX>
        <locationY>2094</locationY>
        <assignmentItems>
            <assignToReference>Record.New_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlagEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Notification_Settings</name>
        <label>Check Notification Settings</label>
        <locationX>365</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Notification_Settings_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Notification_Settings__c.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contents_changed_not_by_Owner</targetReference>
            </connector>
            <label>Check Notification Settings Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Notify Account Owner and Record Creator in case the Account has been changed by someone else. (Requested by :flee: for APAC)</description>
        <name>Contents_changed_not_by_Owner</name>
        <label>Contents changed not by Owner</label>
        <locationX>367</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Notify_of_new_APAC_Account_from_no_APAC_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contents_changed_not_by_Owner_Condition</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 )AND ( 5 OR 6 OR 7) AND (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Priority__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.Priority__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Distributor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.Distributor__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Parent.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acc_Notify_changes_made_not_by_owner</targetReference>
            </connector>
            <label>Contents changed not by Owner Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Opportunity_Added</name>
        <label>New Opportunity Added</label>
        <locationX>368</locationX>
        <locationY>1496</locationY>
        <defaultConnector>
            <targetReference>New_Order_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity_Added_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Current_User_Internal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.New_Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.New_Opportunity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.New_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_New_Opp_to_Account</targetReference>
            </connector>
            <label>New Opportunity Added Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Order_added</name>
        <label>New Order added</label>
        <locationX>354</locationX>
        <locationY>1819</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Order_added_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Current_User_Internal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.New_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.New_Order__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.New_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_New_Order_to_Account</targetReference>
            </connector>
            <label>New Order added Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Notify only if Account is created from Abacus and previous Owner is UBX-AP</description>
        <name>Notify_new_Owner_of_new_Account_from_Abacus</name>
        <label>Notify new Owner of new Account from Abacus</label>
        <locationX>367</locationX>
        <locationY>1184</locationY>
        <defaultConnector>
            <targetReference>New_Opportunity_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notify_new_Owner_of_new_Account_from_Abacus_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00557000006eQYEAA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00557000006eQYEAA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2017-08-22T19:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Owner_Notified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Parent.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acc_notify_new_Owner</targetReference>
            </connector>
            <label>Notify new Owner of new Account from Abacus Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Notify only if APAC Account is created by no-APAC user</description>
        <name>Notify_of_new_APAC_Account_from_no_APAC_user</name>
        <label>Notify of new APAC Account from no-APAC user</label>
        <locationX>366</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>Potential_Competitor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notify_of_new_APAC_Account_from_no_APAC_user_Condition</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19) AND 20</conditionLogic>
            <conditions>
                <leftValueReference>Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00520000000rnjWAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acc_notify_of_new_APAC_Acc_from_non_APAC_user</targetReference>
            </connector>
            <label>Notify of new APAC Account from no-APAC user Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sends email alert when the potential competitor is created.</description>
        <name>Potential_Competitor</name>
        <label>Potential Competitor</label>
        <locationX>367</locationX>
        <locationY>943</locationY>
        <defaultConnector>
            <targetReference>Notify_new_Owner_of_new_Account_from_Abacus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Potential_Competitor_Condition</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record.Potential_Competitor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Potential_Competitor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.Potential_Competitor__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Parent.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acc_Potential_Competitor_created</targetReference>
            </connector>
            <label>Potential Competitor Condition</label>
        </rules>
    </decisions>
    <description>Replace the &apos;u-blox Automatic Process &apos;Id with &apos;u-blox&apos;.</description>
    <environments>Default</environments>
    <interviewLabel>Account: Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>247</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Check_Notification_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isRecordNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Record_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updateFlagEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
