force-app/main/default/flows/Account_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Address_Changed</name>
        <label>Address Changed</label>
        <locationX>651</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.Site</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>visiting_address_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Record_Type_to_Media</name>
        <label>Change Record Type to Media</label>
        <locationX>664</locationX>
        <locationY>1462</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> 01257000000KKhv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Military_Use_Refused_to_Sign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Quotation_not_allowed</name>
        <label>Clear Quotation not allowed</label>
        <locationX>664</locationX>
        <locationY>1936</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quotation_Not_Allowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Website_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clear_website_checked_date</name>
        <label>clear website checked date</label>
        <locationX>654</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>$Record.Website_Checked_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visiting_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>market_classification_field_assignments</name>
        <label>market classification field assignments</label>
        <locationX>642</locationX>
        <locationY>3930</locationY>
        <assignmentItems>
            <assignToReference>$Record.New_Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Market_Classification__r.Market__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.New_Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Market_Classification__r.Market_Segment__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Distributor</name>
        <label>Populate Distributor</label>
        <locationX>668</locationX>
        <locationY>969</locationY>
        <assignmentItems>
            <assignToReference>$Record.Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Distributor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Report_Type_Finance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quotation_not_Allowed</name>
        <label>Quotation not Allowed</label>
        <locationX>661</locationX>
        <locationY>1705</locationY>
        <assignmentItems>
            <assignToReference>$Record.EUS_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Quotation_Not_Allowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Military_Use</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Report_Type_to_Finance</name>
        <label>Report Type to Finance</label>
        <locationX>661</locationX>
        <locationY>1227</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01257000000Bdzu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Report_Type_Media</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reporting_Area_to_Corporate</name>
        <label>Reporting Area to Corporate</label>
        <locationX>655</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reporting_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reporting_Region_Contains_HQ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reporting_Region_to_Coorporate</name>
        <label>Reporting Region to Coorporate</label>
        <locationX>651</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reporting_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>populate_Distributor_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Type</name>
        <label>Set Account Type</label>
        <locationX>647</locationX>
        <locationY>3432</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Account_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Owner_to_Mat_Kay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_current_date_to_website_checked_date</name>
        <label>Set current date to website checked date</label>
        <locationX>660</locationX>
        <locationY>2190</locationY>
        <assignmentItems>
            <assignToReference>$Record.Website_Checked_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Website_not_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Owner_to_Mat_Kay</name>
        <label>Set Owner to Mat Kay</label>
        <locationX>638</locationX>
        <locationY>3713</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005D0000004TBKHIA4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Market_classification_condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update visiting address to be the same as the Abacus address if the checkbox is set.</description>
        <name>Update_Visiting_Addresses</name>
        <label>Update Visiting Addresses</label>
        <locationX>657</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Visiting_Address_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Visiting_Address_changed_Assignment</name>
        <label>Visiting Address changed Assignment</label>
        <locationX>653</locationX>
        <locationY>3176</locationY>
        <assignmentItems>
            <assignToReference>$Record.Visiting_Address_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Type_set_in_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Fill Type on Lead conversion ONLY IF it is empty</description>
        <name>Account_Type_set_in_Lead</name>
        <label>Account Type set in Lead</label>
        <locationX>439</locationX>
        <locationY>3307</locationY>
        <defaultConnector>
            <targetReference>Change_Owner_to_Mat_Kay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Type_set_in_Lead_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Account_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Type</targetReference>
            </connector>
            <label>Account Type set in Lead Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Address_Transfer</name>
        <label>Address Transfer</label>
        <locationX>436</locationX>
        <locationY>2813</locationY>
        <defaultConnector>
            <targetReference>visiting_address_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Transfer_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Changed</targetReference>
            </connector>
            <label>Address Transfer Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Owner_to_Mat_Kay</name>
        <label>Change Owner to Mat Kay</label>
        <locationX>438</locationX>
        <locationY>3575</locationY>
        <defaultConnector>
            <targetReference>Market_classification_condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Owner_to_Mat_Kay_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00557000006eQYEAA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_to_Mat_Kay</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Change Owner to Mat Kay Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Market_classification_condition</name>
        <label>Market classification condition</label>
        <locationX>422</locationX>
        <locationY>3840</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_classification_conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_Classification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Classification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Market_Classification__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Classification__r.IsActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>market_classification_field_assignments</targetReference>
            </connector>
            <label>Market classification conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Military_Use_Refused_to_Sign</name>
        <label>Military Use Refused to Sign</label>
        <locationX>436</locationX>
        <locationY>1593</locationY>
        <defaultConnector>
            <targetReference>No_Military_Use</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Military_Use_Refused_to_Sign_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential_military_use__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refused to sign EUS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Potential_military_use__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quotation_not_Allowed</targetReference>
            </connector>
            <label>Military Use Refused to Sign Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Military_Use</name>
        <label>No Military Use</label>
        <locationX>437</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>Website_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Military_Use_Condition</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Potential_military_use__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No military use / user</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Potential_military_use__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Potential_military_use__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUS Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Potential_military_use__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Quotation_not_allowed</targetReference>
            </connector>
            <label>No Military Use Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>populate_Distributor_Name</name>
        <label>populate Distributor Name</label>
        <locationX>436</locationX>
        <locationY>850</locationY>
        <defaultConnector>
            <targetReference>Set_Report_Type_Finance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>populate_Distributor_Name_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distributor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Distributor_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Distributor_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Distributor</targetReference>
            </connector>
            <label>populate Distributor Name Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Report_Type_Media</name>
        <label>Report Type Media</label>
        <locationX>437</locationX>
        <locationY>1352</locationY>
        <defaultConnector>
            <targetReference>Military_Use_Refused_to_Sign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Report_Type_Media_Condtion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_To_Convert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>now_CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.042</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Record_Type_to_Media</targetReference>
            </connector>
            <label>Report Type Media Condtion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reporting_Area_Contains_HQ</name>
        <label>Reporting Area Contains HQ</label>
        <locationX>437</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Reporting_Region_Contains_HQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reporting_Area_Contains_HQ_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_Area__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_Area_to_Corporate</targetReference>
            </connector>
            <label>Reporting Area Contains HQ Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reporting_Region_Contains_HQ</name>
        <label>Reporting Region Contains HQ</label>
        <locationX>436</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>populate_Distributor_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reporting_Region_Contains_HQ_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_Region__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_Region_to_Coorporate</targetReference>
            </connector>
            <label>Reporting Region Contains HQ Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Report_Type_Finance</name>
        <label>Set Report Type Finance</label>
        <locationX>436</locationX>
        <locationY>1114</locationY>
        <defaultConnector>
            <targetReference>Report_Type_Media</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Report_Type_Finance_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_To_Convert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>now_CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.042</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Report_Type_to_Finance</targetReference>
            </connector>
            <label>Set Report Type Finance Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update visiting address to be the same as the Abacus address if the checkbox is set.</description>
        <name>Update_Visiting_Address</name>
        <label>Update Visiting Address</label>
        <locationX>436</locationX>
        <locationY>2568</locationY>
        <defaultConnector>
            <targetReference>Address_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Visiting_Address_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Copy_Address_from_Abacus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Visiting_Addresses</targetReference>
            </connector>
            <label>Update Visiting Address Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sets the flag &quot;Visiting Address changed&quot; whenever visiting address elements change, this flag triggers the APEX Trigger updateContactVisitingAddressOnAccount on Account.
Now the &apos;updateContactVisitingAddressOnAccount &apos; has been reworked to one-liner trigger.</description>
        <name>visiting_address_changed</name>
        <label>visiting address changed</label>
        <locationX>437</locationX>
        <locationY>3061</locationY>
        <defaultConnector>
            <targetReference>Account_Type_set_in_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>visiting_address_changed_Condition</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visiting_Address_changed_Assignment</targetReference>
            </connector>
            <label>visiting address changed Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Checked</name>
        <label>Website Checked</label>
        <locationX>437</locationX>
        <locationY>2074</locationY>
        <defaultConnector>
            <targetReference>Website_not_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_Checked_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Checked__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_current_date_to_website_checked_date</targetReference>
            </connector>
            <label>Website Checked Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_not_Checked</name>
        <label>Website not Checked</label>
        <locationX>436</locationX>
        <locationY>2324</locationY>
        <defaultConnector>
            <targetReference>Update_Visiting_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Website_not_Checked_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website_Checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Checked__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clear_website_checked_date</targetReference>
            </connector>
            <label>Website not Checked Condition</label>
        </rules>
    </decisions>
    <description>This version contains all the decisions related to the address , only &apos;Linked to Abacus&apos; moves to After as it&apos;s a formula. This version contains market segment related condition and assignments.
Replace the &apos;u-blox Automatic Process &apos;Id with &apos;u-blox&apos;.</description>
    <environments>Default</environments>
    <formulas>
        <name>now_CreatedDate</name>
        <dataType>Number</dataType>
        <expression>NOW()-{!$Record.CreatedDate}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Account : Before Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : Before Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>319</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Reporting_Area_Contains_HQ</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NULLDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
