force-app/main/default/flows/Campaign_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Member_ae_cel</name>
        <label>Add ae-cel</label>
        <locationX>567</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_ae_cel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_ae_pos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ae_pos</name>
        <label>Add ae-pos</label>
        <locationX>696</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_ae_pos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_ae_sho</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ae_sho</name>
        <label>Add ae-sho</label>
        <locationX>831</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_ae_sho__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_ms_team_global</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ladm_team_americas</name>
        <label>Add ladm-team-americas</label>
        <locationX>413</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_ladm_team_americas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ms_team_global</name>
        <label>Add ms-team-global</label>
        <locationX>831</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_ms_team_global__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_src_team_global</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ps_cel</name>
        <label>Add ps-cel</label>
        <locationX>177</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_ps_cel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_ps_pos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ps_pos</name>
        <label>Add ps-pos</label>
        <locationX>304</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_ps_pos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_ps_sho</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_ps_sho</name>
        <label>Add ps-sho</label>
        <locationX>436</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_ps_sho__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_ae_cel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_q_team_global</name>
        <label>Add q-team-global</label>
        <locationX>553</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_q_team_global__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_ladm_team_americas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_src_team_global</name>
        <label>Add src-team-global</label>
        <locationX>693</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>addMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_src_team_global__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_q_team_global</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Decision</name>
        <label>Campaign Decision</label>
        <locationX>169</locationX>
        <locationY>413</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_notificaiton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Member_ps_cel</targetReference>
            </connector>
            <label>Product notificaiton?</label>
        </rules>
        <rules>
            <name>Customer_email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Communication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_all_global</targetReference>
            </connector>
            <label>Customer email?</label>
        </rules>
    </decisions>
    <interviewLabel>Campaign : After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign: After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_all_global</name>
        <label>Add all-global</label>
        <locationX>459</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Add_all_global__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Campaign_Member</name>
        <label>Campaign Member</label>
        <locationX>413</locationX>
        <locationY>999</locationY>
        <inputReference>addMembers</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Campaign_Decision</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>addMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>addMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
