force-app/main/default/flows/Camp_Member_Before_Insert_Update_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Function</name>
        <label>Add Function</label>
        <locationX>909</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>$Record.Function__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead.Function__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveLeadFunction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Insert_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Recursive_Variable</name>
        <label>Reset Recursive Variable</label>
        <locationX>603</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>isRecursiveDateBounced</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateClicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateOpened</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateUnsubscribe</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveLeadFunction</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Date_Bounced</name>
        <label>Set Date Bounced</label>
        <locationX>120</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Bounced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateBounced</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Insert_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Clicked</name>
        <label>Set Date Clicked</label>
        <locationX>474</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Clicked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateClicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Insert_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Opened</name>
        <label>Set Date Opened</label>
        <locationX>595</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Opened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateOpened</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Insert_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Responded</name>
        <label>Set Date Responded</label>
        <locationX>853</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Responded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Insert_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Sent</name>
        <label>Set Date Sent</label>
        <locationX>928</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Insert_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Unsubscribed</name>
        <label>Set Date Unsubscribed</label>
        <locationX>909</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Unsubscribed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveDateUnsubscribe</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_Insert_Update_Processes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Before_Insert_Update_Processes</name>
        <label>Before Insert Update Processes</label>
        <locationX>481</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Reset_Recursive_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Date_Bounced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bounced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveDateBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_Bounced</targetReference>
            </connector>
            <label>Add Date Bounced</label>
        </rules>
        <rules>
            <name>Add_Date_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clicked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveDateClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_Clicked</targetReference>
            </connector>
            <label>Add Date Clicked</label>
        </rules>
        <rules>
            <name>Add_Date_Opened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveDateOpened</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_Opened</targetReference>
            </connector>
            <label>Add Date Opened</label>
        </rules>
        <rules>
            <name>Add_Date_Responded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveDateResponded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_Responded</targetReference>
            </connector>
            <label>Add Date Responded</label>
        </rules>
        <rules>
            <name>Add_Date_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveDateSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_Sent</targetReference>
            </connector>
            <label>Add Date Sent</label>
        </rules>
        <rules>
            <name>Add_Date_Unsubscribed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsubscribed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveDateUnsubscribe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_Unsubscribed</targetReference>
            </connector>
            <label>Add Date Unsubscribed</label>
        </rules>
        <rules>
            <name>Has_Lead_and_Function</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead.Function__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveLeadFunction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Function</targetReference>
            </connector>
            <label>Has Lead and Function</label>
        </rules>
    </decisions>
    <formulas>
        <name>TodayDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Camp Member Before Insert Update Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Camp Member Before Insert Update Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>159</locationY>
        <connector>
            <targetReference>Before_Insert_Update_Processes</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>isRecursiveDateBounced</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveDateClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveDateOpened</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveDateResponded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveDateSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveDateUnsubscribe</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveLeadFunction</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
