force-app/main/default/flows/Campaign_Member_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Add completed Task to log response</description>
        <name>Event_participation_is_added_1</name>
        <label>Event participation is added</label>
        <locationX>416</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>Has_Lead_Source_and_Webform</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Task_to_Lead_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Participation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_record_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_task_to_lead</targetReference>
            </connector>
            <label>Add Task to Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Add Lead Source and Lead Source Webform in Lead</description>
        <name>Has_Lead_Source_and_Webform</name>
        <label>Has Lead Source and Webform</label>
        <locationX>417</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>JBSystemFlow_CampaignMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Lead_Source_Webform_in_Lead_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Webform__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>is_record_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_lead_source_webform_in_lead</targetReference>
            </connector>
            <label>Add Lead Source Webform in Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>When the email sent is bounced, tick Email invalid checkbox in Contact.</description>
        <name>Related_to_Contact_and_bounced</name>
        <label>Related to Contact and bounced</label>
        <locationX>416</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Event_participation_is_added_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tick_Email_invalid_in_Contact_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Bounced__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Bounced__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tick_Email_invalid_in_Contact</targetReference>
            </connector>
            <label>Tick Email invalid in Contact</label>
        </rules>
    </decisions>
    <description>Flow trigger on Campaign Member to execute on after record created or updated</description>
    <formulas>
        <description>return true if record is new</description>
        <name>is_record_new</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Campaign Member: After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Member: After Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_task_to_lead</name>
        <label>Add task to lead</label>
        <locationX>664</locationX>
        <locationY>581</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Event_Participation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Response to {!$Record.Campaign.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Add_lead_source_webform_in_lead</name>
        <label>Add lead source webform in lead</label>
        <locationX>665</locationX>
        <locationY>802</locationY>
        <connector>
            <targetReference>JBSystemFlow_CampaignMember</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JBSystemFlow_CampaignMember</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Webform</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Webform__c</field>
            <value>
                <elementReference>$Record.Lead_Source_Webform__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>When the email sent is bounced, tick email invalid checkbox in contact.</description>
        <name>Tick_Email_invalid_in_Contact</name>
        <label>Tick Email invalid in Contact</label>
        <locationX>668</locationX>
        <locationY>351</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_address_probably_not_valid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Related_to_Contact_and_bounced</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>JBSystemFlow_CampaignMember</name>
        <label>JBSystemFlow CampaignMember</label>
        <locationX>420</locationX>
        <locationY>958</locationY>
        <flowName>JBSystemFlow_CampaignMember</flowName>
        <inputAssignments>
            <name>new_object</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>old_object</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
