force-app/main/default/flows/Case_Take_Ownership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_Automatic_Process</name>
        <label>Check for Automatic Process</label>
        <locationX>459</locationX>
        <locationY>284</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_an_automatic_process</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_case_owner_id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_user_auto</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_case_owner_id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_user_id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseTeamRole</targetReference>
            </connector>
            <label>Not an automatic process</label>
        </rules>
        <rules>
            <name>Is_an_automatic_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_case_owner_id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_user_id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>case_record</targetReference>
            </connector>
            <label>Is an automatic process</label>
        </rules>
    </decisions>
    <description>A replacement of the custom button &quot;Take Ownership&quot; on the service cloud case object&apos;s detail page.</description>
    <formulas>
        <name>GET_current_user</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>GET_UBX_AP</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$User.Alias}, &quot;UBX-AP&quot;), {!$User.Id}, {!$User.Id})</expression>
    </formulas>
    <interviewLabel>Case Take Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Take Ownership</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CaseTeamMember_for_actual_user</name>
        <label>CaseTeamMember for actual user</label>
        <locationX>451</locationX>
        <locationY>500</locationY>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>var_case_owner_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ccid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>var_team_role_id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>CaseTeamMember</name>
        <label>CaseTeamMember</label>
        <locationX>255</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseTeamMember_for_actual_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_case_owner_id</elementReference>
            </value>
        </filters>
        <object>CaseTeamMember</object>
        <outputAssignments>
            <assignToReference>var_case_owner_id</assignToReference>
            <field>MemberId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CaseTeamRole</name>
        <label>CaseTeamRole</label>
        <locationX>255</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseTeamMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>var_team_role_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>current_user</name>
        <label>Current User</label>
        <locationX>464</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Read_values_of_this_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_current_user</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_user_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Read_values_of_this_case</name>
        <label>Current Case</label>
        <locationX>462</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Automatic_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ccid</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_case_creator_id</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_case_escalation_target</assignToReference>
            <field>Escalation_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ccid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_case_owner_id</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_case_transfer_owner_id</assignToReference>
            <field>TransferOwnerId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>case_record</name>
        <label>case record</label>
        <locationX>656</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ccid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_user_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>current_user</startElementReference>
    <status>Draft</status>
    <variables>
        <description>var_case_id</description>
        <name>ccid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ublox_automatic_process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_case_creator_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_case_escalation_target</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_case_owner_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_case_transfer_owner_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_team_role_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_user_auto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_user_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
