force-app/main/default/flows/Case_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_cases_at_60_90_120_days</name>
        <label>Send email to cases at 60 90 120 days</label>
        <locationX>965</locationX>
        <locationY>924</locationY>
        <actionName>Case.Case_Reminder_Email_update_for_60_90_and_120_days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>All_Case_Item</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>All_Case_Item.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_150_day_cases</name>
        <label>Send to 150 day cases</label>
        <locationX>1405</locationX>
        <locationY>1164</locationY>
        <actionName>Case.Case_Reminder_Email_update_for_150_days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>All_Case_Item</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>All_Case_Item.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_151_to_359_days_cases</name>
        <label>Send to 151 to 359 days cases</label>
        <locationX>1845</locationX>
        <locationY>1164</locationY>
        <actionName>Case.Case_Reminder_Email_update_for_151_to_359_days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>All_Case_Item</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>All_Case_Item.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_360_to_720_days_cases</name>
        <label>Send to 360 to 720 days cases</label>
        <locationX>2285</locationX>
        <locationY>1164</locationY>
        <actionName>Case.Case_Reminder_Email_update_for_360_to_720_days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>All_Case_Item</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>All_Case_Item.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>cases_assignment_150</name>
        <label>cases_assignment_150</label>
        <locationX>1537</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>cases_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Case_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_active_150_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cases_Assignment_151_to_359</name>
        <label>Cases Assignment 151 to 359</label>
        <locationX>1977</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>cases_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Case_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_active_151_to_359_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Cases to which we have sent notification at 360 to 720 days but no activity were performed. Now closing it.</description>
        <name>Cases_Assignment_30_days</name>
        <label>Cases Assignment 30 days</label>
        <locationX>701</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>cases_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Case_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Case_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cases_assignment_360_to_720</name>
        <label>cases_assignment_360_to_720</label>
        <locationX>2417</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>cases_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Case_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Owner_active_360_to_720_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counter_plus_plus</name>
        <label>counter plus plus</label>
        <locationX>1139</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Days_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Alert_Check</name>
        <label>Update Alert Check</label>
        <locationX>1977</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>All_Case_Item.Last_Closure_Reminder_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases_Assignment_151_to_359</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_150</name>
        <label>Update Status 150</label>
        <locationX>1537</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>All_Case_Item.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cases_assignment_150</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_30</name>
        <label>Update Status 30</label>
        <locationX>701</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>All_Case_Item.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases_Assignment_30_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_360_to_720</name>
        <label>Update Status 360 to 720</label>
        <locationX>2417</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>All_Case_Item.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cases_assignment_360_to_720</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_List_is_Not_Null</name>
        <label>Case List is Not Null</label>
        <locationX>745</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Case_Item</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Days_Criteria</name>
        <label>Days Criteria</label>
        <locationX>1720</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>All_Case_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stop_at_150</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>150.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>case_update</targetReference>
            </connector>
            <label>Stop at 150</label>
        </rules>
        <rules>
            <name>LastModifiedDate_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.Last_Closure_Reminder_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedOnlyDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Date_Back_30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_30</targetReference>
            </connector>
            <label>LastModifiedDate_30</label>
        </rules>
        <rules>
            <name>lastModifiedDate_60_90_120</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedOnlyDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Date_Back_60</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedOnlyDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Date_Back_90</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedOnlyDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Date_Back_120</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_active60_90_120_Decision</targetReference>
            </connector>
            <label>lastModifiedDate_60_90_120</label>
        </rules>
        <rules>
            <name>LastModifiedDate_150</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedOnlyDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Date_Back_150</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_150</targetReference>
            </connector>
            <label>LastModifiedDate_150</label>
        </rules>
        <rules>
            <name>lastModifiedDate_151_to_359</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Days_back_150</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Days_back_360</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alert_Check</targetReference>
            </connector>
            <label>lastModifiedDate_151_to_359</label>
        </rules>
        <rules>
            <name>lastModifiedDate_360_to_720</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Days_back_720</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Case_Item.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Days_back_360</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_360_to_720</targetReference>
            </connector>
            <label>lastModifiedDate_360_to_720</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_active60_90_120_Decision</name>
        <label>Is Owner active60 90 120 Decision</label>
        <locationX>1097</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>All_Case_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner InActive</defaultConnectorLabel>
        <rules>
            <name>Owner_is_active_60_90_120</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_cases_at_60_90_120_days</targetReference>
            </connector>
            <label>Owner is active 60 90 120</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_active_150_Decision</name>
        <label>Is Owner active 150 Decision</label>
        <locationX>1537</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>All_Case_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner InActive</defaultConnectorLabel>
        <rules>
            <name>Owner_is_active_150</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_150_day_cases</targetReference>
            </connector>
            <label>Owner is active 150</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_active_151_to_359_Decision</name>
        <label>Is Owner active 151 to 359 Decision</label>
        <locationX>1977</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>All_Case_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner InActive</defaultConnectorLabel>
        <rules>
            <name>Owner_is_active_151_to_359</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_151_to_359_days_cases</targetReference>
            </connector>
            <label>Owner is active 151 to 359</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_active_360_to_720_Decision</name>
        <label>Is Owner active 360 to 720 Decision</label>
        <locationX>2417</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>All_Case_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner InActive</defaultConnectorLabel>
        <rules>
            <name>Owner_is_active_360_to_720</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Case_Item.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_360_to_720_days_cases</targetReference>
            </connector>
            <label>Owner is active 360 to 720</label>
        </rules>
    </decisions>
    <formulas>
        <name>Date_Back_120</name>
        <dataType>Date</dataType>
        <expression>Today() - 120</expression>
    </formulas>
    <formulas>
        <name>Date_Back_150</name>
        <dataType>Date</dataType>
        <expression>Today() - 150</expression>
    </formulas>
    <formulas>
        <name>Date_Back_30</name>
        <dataType>Date</dataType>
        <expression>Today() - 30</expression>
    </formulas>
    <formulas>
        <name>Date_Back_60</name>
        <dataType>Date</dataType>
        <expression>Today() - 60</expression>
    </formulas>
    <formulas>
        <name>Date_Back_90</name>
        <dataType>Date</dataType>
        <expression>Today() - 90</expression>
    </formulas>
    <formulas>
        <name>Days_back_150</name>
        <dataType>DateTime</dataType>
        <expression>Now() - 150</expression>
    </formulas>
    <formulas>
        <name>Days_back_360</name>
        <dataType>DateTime</dataType>
        <expression>Now() - 360</expression>
    </formulas>
    <formulas>
        <name>Days_back_720</name>
        <dataType>DateTime</dataType>
        <expression>Now() - 720</expression>
    </formulas>
    <formulas>
        <name>is_last_modified_at_120_day</name>
        <dataType>Boolean</dataType>
        <expression>(DATEVALUE({!All_Case_Item.LastModifiedDate}) = (Today() -120))</expression>
    </formulas>
    <formulas>
        <name>is_last_modified_at_150_day</name>
        <dataType>Boolean</dataType>
        <expression>(DATEVALUE({!All_Case_Item.LastModifiedDate}) = (Today() - 150))</expression>
    </formulas>
    <formulas>
        <name>is_last_modified_at_30_day</name>
        <dataType>Boolean</dataType>
        <expression>(DATEVALUE({!All_Case_Item.LastModifiedDate}) = (Today() -30))</expression>
    </formulas>
    <formulas>
        <name>is_last_modified_at_60_day</name>
        <dataType>Boolean</dataType>
        <expression>(DATEVALUE({!All_Case_Item.LastModifiedDate}) = (Today() - 60))</expression>
    </formulas>
    <formulas>
        <name>is_last_modified_at_90_day</name>
        <dataType>Boolean</dataType>
        <expression>(DATEVALUE({!All_Case_Item.LastModifiedDate}) = (Today() - 90))</expression>
    </formulas>
    <interviewLabel>Case Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Schedule</label>
    <loops>
        <name>All_Case_Item</name>
        <label>All Case Item</label>
        <locationX>613</locationX>
        <locationY>564</locationY>
        <collectionReference>Get_All_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>counter_plus_plus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>case_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cases</name>
        <label>Get All Cases</label>
        <locationX>745</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_List_is_Not_Null</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 OR 5 OR 6 OR (7 AND 8) ) AND 9</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedOnlyDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_Back_60</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedOnlyDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_Back_90</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedOnlyDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_Back_120</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedOnlyDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_Back_150</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Days_back_150</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Days_back_720</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00G2p00000AfMkbEAF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>case_update</name>
        <label>case_update</label>
        <locationX>344</locationX>
        <locationY>502</locationY>
        <inputReference>cases_to_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>619</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_Cases</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-12-21</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cases_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
