force-app/main/default/flows/Case_Comment_After_created_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Case_Add_Case_Comment</name>
        <label>Case: Add Case Comment</label>
        <locationX>805</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Case_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CommentBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_is_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Last_Comment_By</name>
        <label>Case: Last Comment By</label>
        <locationX>812</locationX>
        <locationY>1204</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Last_Comment_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_update_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Status_Working</name>
        <label>Case: Status Working</label>
        <locationX>803</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Comment_to_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_Comment_to_Case</name>
        <label>Copy Comment to Case</label>
        <locationX>537</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Record_is_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Comment_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case.Case_Initiator_Source__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Case_Initiator_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Add_Case_Comment</targetReference>
            </connector>
            <label>Add Comment to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_update_required</name>
        <label>is update required</label>
        <locationX>538</locationX>
        <locationY>1348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_any_record_needs_to_be_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>check if any record needs to be updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Comment_to_Closed_Case</name>
        <label>New Comment to Closed Case</label>
        <locationX>536</locationX>
        <locationY>538</locationY>
        <defaultConnector>
            <targetReference>Copy_Comment_to_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseTimeClosed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Working</targetReference>
            </connector>
            <label>Status Working</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is_New</name>
        <label>Record is New</label>
        <locationX>537</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>is_update_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Commented_By</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Last_Comment_By</targetReference>
            </connector>
            <label>Last Commented By</label>
        </rules>
    </decisions>
    <description>This flow update parent case status to working, copy in parent Case Comment from commentBody and update parent case last comment by from comment creator.</description>
    <formulas>
        <description>Case Closed Time Difference in Seconds</description>
        <name>caseTimeClosed</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!Get_Case.LastModifiedDate})* 86400</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>RecordisNew</name>
        <dataType>Boolean</dataType>
        <expression>isNEW()</expression>
    </formulas>
    <interviewLabel>Case Comment: After create/update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Comment: After created/updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>544</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Comment_to_Closed_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>546</locationX>
        <locationY>1572</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>418</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <object>CaseComment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
