force-app/main/default/flows/Case_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Response_e_LULA_M_JODY_W2_Submitter</name>
        <label>Auto Response e-LULA-M (JODY-W2) Submitter</label>
        <locationX>941</locationX>
        <locationY>2374</locationY>
        <actionName>Case.Case_Auto_response_for_e_LULA_M_JODY_W2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notify_Case_Owner_e_LULA_M</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Response_e_LULA_M_LILY_W1_Submitter</name>
        <label>Auto Response e-LULA-M (LILY-W1) Submitter</label>
        <locationX>940</locationX>
        <locationY>2607</locationY>
        <actionName>Case.Case_Auto_response_for_e_LULA_M_LILY_W1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notify_Case_Owner_e_LULA_M</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Response_e_LULA_N_Submitter</name>
        <label>Auto Response e-LULA-N Submitter</label>
        <locationX>1086</locationX>
        <locationY>2162</locationY>
        <actionName>Case.Case_Auto_response_for_e_LULA_N</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Subject_And_Description_E_LULA_N</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Response_EUS_Declaration_Submitter</name>
        <label>Auto Response EUS Declaration Submitter</label>
        <locationX>1095</locationX>
        <locationY>2839</locationY>
        <actionName>Case.Case_Auto_response_for_e_EUS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Subject_And_Description_EUS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Response_NDA_Submitter</name>
        <label>Auto Response NDA Submitter</label>
        <locationX>1074</locationX>
        <locationY>1727</locationY>
        <actionName>Case.Case_Auto_response_for_e_NDA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Subject_And_Description_NDA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Response_NDA_Submitter_Americas</name>
        <label>Auto Response NDA Submitter Americas</label>
        <locationX>1086</locationX>
        <locationY>1931</locationY>
        <actionName>Case.Case_Auto_response_for_e_NDA_Americas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Subject_And_Description_NDA_Americas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Case_Send_email_to_a_Owner_Queue</name>
        <label>Case: Send email to a Owner Queue</label>
        <locationX>292</locationX>
        <locationY>2072</locationY>
        <actionName>Case.Case_Send_email_to_a_Owner_Queue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Clear_Notification_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Case_Send_email_to_a_Owner_User</name>
        <label>Case: Send email to a Owner User</label>
        <locationX>293</locationX>
        <locationY>1810</locationY>
        <actionName>Case.Case_Send_email_to_a_Owner_User</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Inform_New_Case_Owner_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Account_Owner</name>
        <label>Notify Account Owner</label>
        <locationX>676</locationX>
        <locationY>1060</locationY>
        <actionName>Case.Case_APAC_chip_project_Design_Review_closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Americas_Legal_Case_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Account_Owner_Americas</name>
        <label>Notify Account Owner Americas</label>
        <locationX>666</locationX>
        <locationY>1304</locationY>
        <actionName>Case.Case_Inform_Account_Owner_on_e_NDA_Americas_closure</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_is_Legal_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Initiator_Source</name>
        <label>Notify Case Initiator Source</label>
        <locationX>685</locationX>
        <locationY>799</locationY>
        <actionName>Case.Case_new_Case_Comment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Chip_Project_Design_Review_Case_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner_e_LULA_M</name>
        <label>Notify Case Owner e-LULA-M</label>
        <locationX>1088</locationX>
        <locationY>2487</locationY>
        <actionName>Case.Case_Inform_Case_Owner_on_e_LULA_M</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Subject_And_Description_E_LULA_M</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner_e_LULA_N</name>
        <label>Notify Case Owner e-LULA-N</label>
        <locationX>939</locationX>
        <locationY>2162</locationY>
        <actionName>Case.Case_Inform_Case_Owner_on_e_LULA_N</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Auto_Response_e_LULA_N_Submitter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner_EUS</name>
        <label>Notify Case Owner EUS</label>
        <locationX>942</locationX>
        <locationY>2839</locationY>
        <actionName>Case.Case_Inform_Case_Owner_on_e_EUS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Auto_Response_EUS_Declaration_Submitter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner_NDA</name>
        <label>Notify Case Owner NDA</label>
        <locationX>942</locationX>
        <locationY>1727</locationY>
        <actionName>Case.Case_Inform_Case_Owner_on_e_NDA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Auto_Response_NDA_Submitter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner_NDA_Americas</name>
        <label>Notify Case Owner NDA Americas</label>
        <locationX>922</locationX>
        <locationY>1931</locationY>
        <actionName>Case.Case_Inform_Case_Owner_on_e_NDA_Americas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Auto_Response_NDA_Submitter_Americas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Task_Subject_And_Description_E_LULA_M</name>
        <label>Task Subject And Description E-LULA M</label>
        <locationX>1233</locationX>
        <locationY>2487</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: LULA-M sent to the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The LULA-M has been sent to the email address in field &quot;Web Email&quot; of this Case.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Subject_And_Description_E_LULA_N</name>
        <label>Task Subject And Description E-LULA N</label>
        <locationX>1231</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: LULA-N sent to the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The LULA-N has been sent to the email address in field &quot;Web Email&quot; of this Case.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Subject_And_Description_EUS</name>
        <label>Task Subject And Description EUS</label>
        <locationX>1313</locationX>
        <locationY>2836</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: EUS sent to the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The EUS has been sent to the email address in field &quot;Web Email&quot; of this Case.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Subject_And_Description_NDA</name>
        <label>Task Subject And Description NDA</label>
        <locationX>1305</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: NDA sent to the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The NDA has been sent to the email address in field &quot;Web Email&quot; of this Case.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Subject_And_Description_NDA_Americas</name>
        <label>Task Subject And Description NDA Americas</label>
        <locationX>1229</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: NDA Americas sent to the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The NDA Americas has been sent to the email address in field &quot;Web Email&quot; of this Case.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Americas_Legal_Case_Closed</name>
        <label>Americas Legal Case Closed</label>
        <locationX>471</locationX>
        <locationY>1194</locationY>
        <defaultConnector>
            <targetReference>Case_is_Legal_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_Account_Owner_NDA</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Account_uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>priorRecord.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Account_Owner_Americas</targetReference>
            </connector>
            <label>Inform Account Owner NDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_is_Legal_Case</name>
        <label>Case is Legal Case</label>
        <locationX>470</locationX>
        <locationY>1443</locationY>
        <defaultConnector>
            <targetReference>Inform_New_Case_Owner_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular Case</defaultConnectorLabel>
        <rules>
            <name>Legal_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Type_NDA</targetReference>
            </connector>
            <label>Legal Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_e_LULA_M_JODY_W2</name>
        <label>Case Type e-LULA-M (JODY-W2)</label>
        <locationX>692</locationX>
        <locationY>2375</locationY>
        <defaultConnector>
            <targetReference>Case_Type_e_LULA_M_LILY_W1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_about_JODY_W2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal (e-LULA-M)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Product_Info__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JODY-W2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Response_e_LULA_M_JODY_W2_Submitter</targetReference>
            </connector>
            <label>Inform about JODY-W2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_e_LULA_M_LILY_W1</name>
        <label>Case Type e-LULA-M (LILY-W1)</label>
        <locationX>691</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Case_Type_EUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_about_LILY_W1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal (e-LULA-M)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Product_Info__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>JODY-W2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Response_e_LULA_M_LILY_W1_Submitter</targetReference>
            </connector>
            <label>Inform about LILY-W1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_e_LULA_N</name>
        <label>Case Type e-LULA-N</label>
        <locationX>689</locationX>
        <locationY>2163</locationY>
        <defaultConnector>
            <targetReference>Case_Type_e_LULA_M_JODY_W2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_e_LULA_N_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal (e-LULA-N)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Owner_e_LULA_N</targetReference>
            </connector>
            <label>Inform e-LULA-N Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_EUS</name>
        <label>Case Type EUS</label>
        <locationX>692</locationX>
        <locationY>2839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_EUS_Declaration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End Use Statement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Owner_EUS</targetReference>
            </connector>
            <label>Inform EUS Declaration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_NDA</name>
        <label>Case Type NDA</label>
        <locationX>690</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Case_Type_NDA_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_NDA_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal (e-NDA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Owner_NDA</targetReference>
            </connector>
            <label>Inform NDA Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Type_NDA_Americas</name>
        <label>Case Type NDA Americas</label>
        <locationX>690</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Case_Type_e_LULA_N</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_NDA_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal (e-NDA Americas)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Owner_NDA_Americas</targetReference>
            </connector>
            <label>Inform NDA Americas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chip_Project_Design_Review_Case_Closed</name>
        <label>Chip Project Design Review Case Closed</label>
        <locationX>471</locationX>
        <locationY>936</locationY>
        <defaultConnector>
            <targetReference>Americas_Legal_Case_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_Account_Owner</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.For_Chip_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>apiu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.For_Chip_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>priorRecord.For_Chip_Project__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>priorRecord.IsClosed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Account_Owner</targetReference>
            </connector>
            <label>Inform Account Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_New_Case_Owner_Queue</name>
        <label>Inform New Case Owner Queue</label>
        <locationX>469</locationX>
        <locationY>1949</locationY>
        <defaultConnector>
            <targetReference>Clear_Notification_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_New_Case_Owner_Queue_Condition</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Send_Notification_Mail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>priorRecord.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Send_email_to_a_Owner_Queue</targetReference>
            </connector>
            <label>Inform New Case Owner Queue Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_New_Case_Owner_User</name>
        <label>Inform New Case Owner User</label>
        <locationX>470</locationX>
        <locationY>1684</locationY>
        <defaultConnector>
            <targetReference>Inform_New_Case_Owner_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_New_Owner_User</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Send_Notification_Mail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>priorRecord.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Owner:User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Owner:User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>apiu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Owner:User.IsActive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Send_email_to_a_Owner_User</targetReference>
            </connector>
            <label>Inform New Owner User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Notification_Turned_On</name>
        <label>Is Email Notification Turned On</label>
        <locationX>473</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Notification_Settings__c.Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Case_Comment</targetReference>
            </connector>
            <label>Send Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Case_Comment</name>
        <label>New Case Comment</label>
        <locationX>472</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>Chip_Project_Design_Review_Case_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_Case_Initiator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Send_Case_Comment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Case_Initiator_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Case_Comment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>priorRecord.Case_Comment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentRecord.Case_Initiator_Source__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Initiator_Source</targetReference>
            </connector>
            <label>Inform Case Initiator</label>
        </rules>
    </decisions>
    <description>SubFlow on Case to send Email Alerts
This is being called from Case: After Created/Updated.
Replace the &apos;u-blox Automatic Process &apos;Id with &apos;u-blox&apos;.</description>
    <environments>Default</environments>
    <interviewLabel>Case: Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task</name>
        <label>Task</label>
        <locationX>1437</locationX>
        <locationY>2316</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>currentRecord.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00557000006eQYEAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Clear_Notification_Flag</name>
        <label>Clear Notification Flag</label>
        <locationX>477</locationX>
        <locationY>2207</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Send_Notification_Mail__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>354</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Email_Notification_Turned_On</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>priorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>taskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
