force-app/main/default/flows/Case_After_Created_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Sharing_to_Collection</name>
        <label>Add Sharing to Collection</label>
        <locationX>939</locationX>
        <locationY>3291</locationY>
        <assignmentItems>
            <assignToReference>Partner_Communication_Share_Temp_Record.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_and_assign_share_to_partner_communication.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Communication_Share_Temp_Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_Communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Partner_Communication_Share_Temp_Record.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_and_assign_share_to_partner_communication.CaseAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerCommunicationSharingTempCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner_Communication_Share_Temp_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_and_assign_share_to_partner_communication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Fill_Date_Escalated_To_Q</name>
        <label>Case: Fill Date Escalated To Q</label>
        <locationX>675</locationX>
        <locationY>2679</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Escalated_To_Q__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Escalated_To_Q__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Set_Escalated_To_TM_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Set_Visible_in_Self_Service_Portal</name>
        <label>Case: Set Visible in Self-Service Portal</label>
        <locationX>674</locationX>
        <locationY>1693</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsVisibleInSelfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Set_Escalated_To_AE_Cel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Escalated_To_AE_Cel</name>
        <label>Date Escalated To AE Cel</label>
        <locationX>671</locationX>
        <locationY>1944</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Escalated_To_AE_Cel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Escalated_To_AE_Cel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Set_Escalated_To_AE_POS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Escalated_To_AE_Sho</name>
        <label>Date Escalated To AE Sho</label>
        <locationX>669</locationX>
        <locationY>2440</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Escalated_To_AE_Sho__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Escalated_To_AE_Sho__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Set_Escalated_To_Q_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Escalated_To_TM</name>
        <label>Date Escalated To TM</label>
        <locationX>682</locationX>
        <locationY>2932</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Escalated_To_TM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Owner_ID_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Date_Escalated_To_AE_Pos</name>
        <label>Fill Date Escalated To AE Pos</label>
        <locationX>673</locationX>
        <locationY>2193</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Escalated_To_AE_Pos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Escalated_To_AE_Pos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Set_Escalated_To_AE_Sho_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag_True</name>
        <label>Set Flag True</label>
        <locationX>683</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Design_Review_done_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Owner_ID_assignment</name>
        <label>Update Last Owner ID assignment</label>
        <locationX>674</locationX>
        <locationY>3147</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Owner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>partner_Communication_not_Empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Make_accessible_for_external_users</name>
        <label>Case: Make accessible for external users</label>
        <locationX>467</locationX>
        <locationY>1567</locationY>
        <defaultConnector>
            <targetReference>Case_Set_Escalated_To_AE_Cel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Make_accessible_for_external_users_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsVisibleInSelfService</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Set_Visible_in_Self_Service_Portal</targetReference>
            </connector>
            <label>Case: Make accessible for external users decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Opportunity_share_process</name>
        <label>Case: Opportunity share process</label>
        <locationX>474</locationX>
        <locationY>3500</locationY>
        <defaultConnector>
            <targetReference>Check_Update_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Case_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tashang Support User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Opportunity</targetReference>
            </connector>
            <label>Get Case Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Set_Escalated_To_AE_Cel</name>
        <label>Case: Set Escalated To AE Cel</label>
        <locationX>467</locationX>
        <locationY>1824</locationY>
        <defaultConnector>
            <targetReference>Case_Set_Escalated_To_AE_POS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Set_Escalated_To_AE_Cel_decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE CEL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.AE_CEL__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Escalated_To_AE_Cel</targetReference>
            </connector>
            <label>Case: Set Escalated To AE Cel decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Set_Escalated_To_AE_POS</name>
        <label>Case: Set Escalated To AE POS</label>
        <locationX>467</locationX>
        <locationY>2071</locationY>
        <defaultConnector>
            <targetReference>Case_Set_Escalated_To_AE_Sho_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalated_To_AE_POS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE POS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.AE_POS__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Date_Escalated_To_AE_Pos</targetReference>
            </connector>
            <label>Escalated To AE POS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Set_Escalated_To_AE_Sho_decision</name>
        <label>Case: Set Escalated To AE Sho decision</label>
        <locationX>468</locationX>
        <locationY>2312</locationY>
        <defaultConnector>
            <targetReference>Case_Set_Escalated_To_Q_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Set_Escalated_To_AE_Sho</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE SHO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.AE_SHO__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Escalated_To_AE_Sho</targetReference>
            </connector>
            <label>Case: Set Escalated To AE Sho</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Set_Escalated_To_Q_decision</name>
        <label>Case: Set Escalated To Q decision</label>
        <locationX>468</locationX>
        <locationY>2560</locationY>
        <defaultConnector>
            <targetReference>Case_Set_Escalated_To_TM_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Set_Escalated_To_Q</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.Quality__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Fill_Date_Escalated_To_Q</targetReference>
            </connector>
            <label>Case: Set Escalated To Q</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Set_Escalated_To_TM_decision</name>
        <label>Case: Set Escalated To TM decision</label>
        <locationX>469</locationX>
        <locationY>2814</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Owner_ID_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Set_Escalated_To_TM</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Escalated_by_TM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Technical Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Support L2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Escalated_To_TM</targetReference>
            </connector>
            <label>Case: Set Escalated To TM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Flag</name>
        <label>Check Update Flag</label>
        <locationX>474</locationX>
        <locationY>3764</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send Email Alerts</defaultConnectorLabel>
        <rules>
            <name>Update_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case</targetReference>
            </connector>
            <label>Update Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Design_Review_done_decision</name>
        <label>Design Review done decision</label>
        <locationX>465</locationX>
        <locationY>1012</locationY>
        <defaultConnector>
            <targetReference>Design_Review_not_done_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Review_done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Design_Review_True</targetReference>
            </connector>
            <label>Design Review done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Design_Review_not_done_decision</name>
        <label>Design Review not done decision</label>
        <locationX>466</locationX>
        <locationY>1287</locationY>
        <defaultConnector>
            <targetReference>Case_Make_accessible_for_external_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Review_not_done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Design_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Design_Review_False</targetReference>
            </connector>
            <label>Design Review not done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Execute_only_when_Record_Created</name>
        <label>Execute only when Record Created</label>
        <locationX>466</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>Design_Review_done_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Assignment</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>partner_Communication_not_Empty</name>
        <label>partner Communication not Empty</label>
        <locationX>471</locationX>
        <locationY>3272</locationY>
        <defaultConnector>
            <targetReference>Case_Opportunity_share_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>partner_Communication_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Communication__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Communication__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Sharing</targetReference>
            </connector>
            <label>partner Communication is changed</label>
        </rules>
        <rules>
            <name>Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Communication__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Sharing</targetReference>
            </connector>
            <label>Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Last_Owner_ID_decision</name>
        <label>Update Last Owner ID decision</label>
        <locationX>470</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>partner_Communication_not_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Last_Owner_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Owner_ID_assignment</targetReference>
            </connector>
            <label>Update Last Owner ID</label>
        </rules>
    </decisions>
    <description>After flow trigger on Case to update fields
Do Case Assignment
Send Email Alerts</description>
    <environments>Default</environments>
    <formulas>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case: After Created/Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: After Created/Updated</label>
    <loops>
        <name>Filter_and_assign_share_to_partner_communication</name>
        <label>Filter and assign share to partner communication</label>
        <locationX>770</locationX>
        <locationY>3291</locationY>
        <collectionReference>Get_Case_Sharing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Sharing_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Partner_Communication_Sharing_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Partner_Communication_Sharing_Record</name>
        <label>Create Partner Communication Sharing Record</label>
        <locationX>771</locationX>
        <locationY>3489</locationY>
        <connector>
            <targetReference>Case_Opportunity_share_process</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Opportunity_share_process</targetReference>
        </faultConnector>
        <inputReference>PartnerCommunicationSharingTempCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Sharing</name>
        <label>Get Case Sharing</label>
        <locationX>639</locationX>
        <locationY>3341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_and_assign_share_to_partner_communication</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Opportunity_share_process</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ImplicitChild</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case</name>
        <label>Case</label>
        <locationX>481</locationX>
        <locationY>3974</locationY>
        <connector>
            <targetReference>Send_Email_Alerts</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Design_Review_False</name>
        <label>Opportunity: Design Review False</label>
        <locationX>681</locationX>
        <locationY>1423</locationY>
        <connector>
            <targetReference>Case_Make_accessible_for_external_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_Review__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Design_Review_True</name>
        <label>Opportunity: Design Review True</label>
        <locationX>687</locationX>
        <locationY>1138</locationY>
        <connector>
            <targetReference>Design_Review_not_done_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>348</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Execute_only_when_Record_Created</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Assignment</name>
        <label>Case Assignment</label>
        <locationX>684</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Set_Flag_True</targetReference>
        </connector>
        <flowName>Case_Case_Assignment</flowName>
        <inputAssignments>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>currentRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Email_Alerts</name>
        <label>Send Email Alerts</label>
        <locationX>675</locationX>
        <locationY>3875</locationY>
        <flowName>Case_Email_Alerts</flowName>
        <inputAssignments>
            <name>currentRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNew</name>
            <value>
                <elementReference>isNewRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>priorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Share_Opportunity</name>
        <label>Share Opportunity</label>
        <locationX>682</locationX>
        <locationY>3628</locationY>
        <connector>
            <targetReference>Check_Update_Flag</targetReference>
        </connector>
        <flowName>Opportunity_Share_Flow</flowName>
        <inputAssignments>
            <name>varOpportunityId</name>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>oppOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Partner_Communication_Share_Temp_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Communication__Share</objectType>
    </variables>
    <variables>
        <name>PartnerCommunicationSharingTempCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Communication__Share</objectType>
    </variables>
    <variables>
        <name>updateEmailFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
