force-app/main/default/flows/Competitor_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>competitorProduct</name>
        <label>competitorProduct</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>competitorProductRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCompetitorName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>competitorProductRecord.Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>competitorProductRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To add a price if competitor product name is unknown</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCompetitorProduct</targetReference>
        </connector>
    </assignments>
    <description>Flow trigger on Competitor to execute only on after record is created</description>
    <formulas>
        <name>isNewFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>newCompetitorName</name>
        <dataType>String</dataType>
        <expression>&quot;UNKNOWN (&quot;&amp;{!$Record.Name}&amp;&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Competitor: After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Competitor: After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCompetitorProduct</name>
        <label>createCompetitorProduct</label>
        <locationX>638</locationX>
        <locationY>574</locationY>
        <inputReference>competitorProductRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>competitorProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Competitor__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Object to create new Competitor Object</description>
        <name>competitorProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_Product__c</objectType>
    </variables>
</Flow>
