force-app/main/default/flows/Contact_RecordTypes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Record_type_change_Finance</name>
        <label>Record type change Finance</label>
        <locationX>903</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinanceRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolTrueRecordTypeFinance</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_to_Finance_and</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_typechange_Media</name>
        <label>Record typechange Media</label>
        <locationX>913</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordtypeIdMedia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolFalseRecordtypeMedia</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_to_Finance_and</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>containsFinanceVar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </constants>
    <constants>
        <description>Contain &apos;Media&apos; string for searching</description>
        <name>MediaStr</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Media</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Record_Type_to_Finance_and</name>
        <label>Record Type to Finance and Media</label>
        <locationX>419</locationX>
        <locationY>114</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_to_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_To_Convert__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>containsFinanceVar</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolTrueRecordTypeFinance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFinanceRecordTypeId</targetReference>
            </connector>
            <label>Record Type to Finance</label>
        </rules>
        <rules>
            <name>Record_Type_to_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_To_Convert__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MediaStr</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolFalseRecordtypeMedia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMediaRecordTypeId</targetReference>
            </connector>
            <label>Record Type to Media</label>
        </rules>
    </decisions>
    <description>This flow is setting up Record Type Id of Contact based on the Record Type to Convert Field</description>
    <interviewLabel>Contact RecordTypes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Before Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getFinanceRecordTypeId</name>
        <label>getFinanceRecordTypeId</label>
        <locationX>647</locationX>
        <locationY>2</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_type_change_Finance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>FinanceRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getMediaRecordTypeId</name>
        <label>getMediaRecordTypeId</label>
        <locationX>641</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_typechange_Media</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact Media</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordtypeIdMedia</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>33</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Record_Type_to_Finance_and</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>boolFalseRecordtypeMedia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolTrueRecordTypeFinance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FinanceRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeIdMedia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
