force-app/main/default/flows/Contact_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Opt_out_alert</name>
        <label>Opt out alert</label>
        <locationX>834</locationX>
        <locationY>3507</locationY>
        <actionName>Contact.Contact_Opt_out_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_e_NDA_link_to_Contact_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_e_EUS_Link</name>
        <label>Send e_EUS Link</label>
        <locationX>826</locationX>
        <locationY>4018</locationY>
        <actionName>Contact.Contact_Send_e_EUS_Link</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_e_LULA_M_link</name>
        <label>Send e-LULA-M link</label>
        <locationX>810</locationX>
        <locationY>1862</locationY>
        <actionName>Contact.Contact_Send_e_LULA_M_link</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>check_owner_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_e_LULA_N_link</name>
        <label>Send e-LULA-N link</label>
        <locationX>832</locationX>
        <locationY>2422</locationY>
        <actionName>Contact.Contact_Send_e_LULA_N_link</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Owner_Null_Condition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_e_NDA_Americas_link</name>
        <label>Send e-NDA Americas link</label>
        <locationX>827</locationX>
        <locationY>2942</locationY>
        <actionName>Contact.Contact_Send_e_NDA_Americas_link</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>owner_condition</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_e_NDA_link</name>
        <label>Send e-NDA link</label>
        <locationX>827</locationX>
        <locationY>3763</locationY>
        <actionName>Contact.Contact_Send_e_NDA_link</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>is_EUS_True_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Send_e_LULA_M_link_to_Contact_task</name>
        <label>Send e-LULA-M link to Contact task</label>
        <locationX>836</locationX>
        <locationY>2104</locationY>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todaydate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>e-LULA-M link has been sent.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.IsVisibleInSelfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: e-LULA-M webform link sent to the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>task4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_e_LULA_N_link_to_Contact_task</name>
        <label>Send e-LULA-N link to Contact task</label>
        <locationX>826</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todaydate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>e-LULA-N link has been sent.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.IsVisibleInSelfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: e-LULA-N webform link sent to the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>task5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_e_NDA_Americas_link_to_Contact_task</name>
        <label>Send e-NDA Americas link to Contact task</label>
        <locationX>831</locationX>
        <locationY>3154</locationY>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todaydate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>e-NDA link has been sent. Set the Status to Completed once the Case has been closed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.IsVisibleInSelfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: e-NDA webform link sent to the customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_Record_Temp.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>task6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>task4</name>
        <label>task4</label>
        <locationX>829</locationX>
        <locationY>2277</locationY>
        <assignmentItems>
            <assignToReference>Task_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Record_Temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_e_LULA_N_link_to_Contact_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>task5</name>
        <label>task5</label>
        <locationX>826</locationX>
        <locationY>2826</locationY>
        <assignmentItems>
            <assignToReference>Task_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Record_Temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_e_NDA_Americas_link_to_Contact_created_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>task6</name>
        <label>task6</label>
        <locationX>835</locationX>
        <locationY>3296</locationY>
        <assignmentItems>
            <assignToReference>Task_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Record_Temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>internal_user_opted_out_decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_owner_null</name>
        <label>check owner null</label>
        <locationX>660</locationX>
        <locationY>1974</locationY>
        <defaultConnector>
            <targetReference>Send_e_LULA_N_link_to_Contact_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_owner_null_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_LULA_M_link_to_Contact_task</targetReference>
            </connector>
            <label>check owner null condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>internal_user_opted_out_decision</name>
        <label>internal user opted out decision</label>
        <locationX>548</locationX>
        <locationY>3381</locationY>
        <defaultConnector>
            <targetReference>Send_e_NDA_link_to_Contact_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>internal_user_opted_out</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Record.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>u-blox Internal Communication</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Email_address_probably_not_valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_out_alert</targetReference>
            </connector>
            <label>internal user opted out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Notification_Turned_On</name>
        <label>Is Email Notification Turned On</label>
        <locationX>549</locationX>
        <locationY>1554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Notification_Settings__c.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_LULA_M_link_to_Contact_decision</targetReference>
            </connector>
            <label>Send Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_EUS_True_Decision</name>
        <label>is EUS True Decision</label>
        <locationX>548</locationX>
        <locationY>3902</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_EUS_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.e_EUS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.e_EUS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.e_EUS__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_EUS_Link</targetReference>
            </connector>
            <label>is EUS True</label>
        </rules>
    </decisions>
    <decisions>
        <name>owner_condition</name>
        <label>owner condition</label>
        <locationX>637</locationX>
        <locationY>3042</locationY>
        <defaultConnector>
            <targetReference>internal_user_opted_out_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>owner_condition_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_NDA_Americas_link_to_Contact_task</targetReference>
            </connector>
            <label>owner condition check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Null_Condition</name>
        <label>Owner Null Condition</label>
        <locationX>654</locationX>
        <locationY>2548</locationY>
        <defaultConnector>
            <targetReference>Send_e_NDA_Americas_link_to_Contact_created_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_LULA_N_link_to_Contact_task</targetReference>
            </connector>
            <label>Owner Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_e_LULA_M_link_to_Contact_decision</name>
        <label>Send e-LULA-M link to Contact decision</label>
        <locationX>551</locationX>
        <locationY>1868</locationY>
        <defaultConnector>
            <targetReference>Send_e_LULA_N_link_to_Contact_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_e_LULA_M_link_to_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.e_LULA_M__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.e_LULA_M__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.e_LULA_M__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_LULA_M_link</targetReference>
            </connector>
            <label>Send e-LULA-M link to Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_e_LULA_N_link_to_Contact_decision</name>
        <label>Send e-LULA-N link to Contact decision</label>
        <locationX>549</locationX>
        <locationY>2398</locationY>
        <defaultConnector>
            <targetReference>Send_e_NDA_Americas_link_to_Contact_created_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_e_LULA_N_link_to_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.e_LULA_N__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.e_LULA_N__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.e_LULA_N__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_LULA_N_link</targetReference>
            </connector>
            <label>Send e-LULA-N link to Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_e_NDA_Americas_link_to_Contact_created_decision</name>
        <label>Send e-NDA Americas link to Contact (created) decision</label>
        <locationX>548</locationX>
        <locationY>2878</locationY>
        <defaultConnector>
            <targetReference>internal_user_opted_out_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_e_NDA_Americas_link_to_Contact_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.e_NDA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Account.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.e_NDA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.e_NDA__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_NDA_Americas_link</targetReference>
            </connector>
            <label>Send e-NDA Americas link to Contact (created)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_e_NDA_link_to_Contact_decision</name>
        <label>Send e-NDA link to Contact decision</label>
        <locationX>548</locationX>
        <locationY>3634</locationY>
        <defaultConnector>
            <targetReference>is_EUS_True_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_e_NDA_link_to_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.e_NDA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Account.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.e_NDA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.e_NDA__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_e_NDA_link</targetReference>
            </connector>
            <label>Send e-NDA link to Contact</label>
        </rules>
    </decisions>
    <formulas>
        <name>Todaydate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TodayDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Contact: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>556</locationX>
        <locationY>4152</locationY>
        <inputReference>Task_Collection</inputReference>
    </recordCreates>
    <start>
        <locationX>431</locationX>
        <locationY>1267</locationY>
        <connector>
            <targetReference>Is_Email_Notification_Turned_On</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Store Contact information</description>
        <name>Contact_Record_Temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Record_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RecordIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Task_Record_Temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
