force-app/main/default/flows/Contact_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Clears all subscriptions when the customer has left the company or has unsubscribed.</description>
        <name>Contact_clear_subscriptions</name>
        <label>Contact: clear subscriptions</label>
        <locationX>70</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>boolTrueClearSubscription</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Marketing_Communication_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Flow_decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Email_Invalid_update_Contact</name>
        <label>Date Email Invalid update</label>
        <locationX>611</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Email_Invalid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolTrueDateEmailInvalid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Flow_decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Last_Date_Email_Invalid_update_Contact</name>
        <label>Last Date Email Invalid update</label>
        <locationX>893</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Date_Email_Invalid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_Email_Invalid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolFalseLastDateEmailInvalid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Email_Invalid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsNullDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Flow_decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mailing_Address_update_Visiting_Address_changed_in_Account_assignment</name>
        <label>Mailing Address update - Visiting Address changed in Account</label>
        <locationX>181</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>$Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Visiting_Address_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolTrueMailingAddVisitingAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Flow_decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mailing_Address_update_when_click_on_Same_as_Account_Visiting_Address</name>
        <label>Mailing Address update when click on Same as Account Visiting Address</label>
        <locationX>71</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>$Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolFalseMailingAddrUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Flow_decisions</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>This boolean value id for checkbox test.</description>
        <name>TrueBooleanConst</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <description>Update the support email of uB office where the Contact Owner is located.</description>
        <name>Contact_Flow_decisions</name>
        <label>Contact: Flow decisions</label>
        <locationX>718</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>clear_subscriptions_when_leaving_or_unsubscribing</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolTrueClearSubscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Left_the_company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_clear_subscriptions</targetReference>
            </connector>
            <label>Clear subscriptions when leaving or unsubscribing</label>
        </rules>
        <rules>
            <name>Mailing_Address_update_after_click_on_Same_as_Account_Visiting_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Same_as_Account_Visiting_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolFalseMailingAddrUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailing_Address_update_when_click_on_Same_as_Account_Visiting_Address</targetReference>
            </connector>
            <label>Mailing Address update - after click on &quot;Same as Account Visiting Address&quot;</label>
        </rules>
        <rules>
            <name>Mailing_Address_update_Visiting_Address_changed_in_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visiting_Address_changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Same_as_Account_Visiting_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolTrueMailingAddVisitingAdd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mailing_Address_update_Visiting_Address_changed_in_Account_assignment</targetReference>
            </connector>
            <label>Mailing Address update - Visiting Address changed in Account</label>
        </rules>
        <rules>
            <name>Date_Email_Invalid_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_address_probably_not_valid__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email_address_probably_not_valid__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_address_probably_not_valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolTrueDateEmailInvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Email_Invalid_update_Contact</targetReference>
            </connector>
            <label>Date Email Invalid update</label>
        </rules>
        <rules>
            <name>Last_Date_Email_Invalid_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_address_probably_not_valid__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email_address_probably_not_valid__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_address_probably_not_valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolFalseLastDateEmailInvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Date_Email_Invalid_update_Contact</targetReference>
            </connector>
            <label>Last Date Email Invalid update</label>
        </rules>
    </decisions>
    <description>Flow trigger on Contact to execute before record is created or updated</description>
    <formulas>
        <name>AssistNowSupportEmailupdate</name>
        <dataType>String</dataType>
        <expression>CASE( TEXT({!$Record.Owner.uB_Office__c}) ,
&quot;Americas&quot;, &quot;support_us@u-blox.com&quot;,
&quot;EMEA&quot;, &quot;support@u-blox.com&quot;,
&quot;Corporate&quot;, &quot;support@u-blox.com&quot;,
&quot;China&quot;, &quot;support_cn@u-blox.com&quot;,
&quot;Hongkong&quot;, &quot;support_cn@u-blox.com&quot;,
&quot;Taiwan&quot;, &quot;support_tw@u-blox.com&quot;,
&quot;Korea&quot;, &quot;support_kr@u-blox.com&quot;,
&quot;Japan&quot;, &quot;support_jp@u-blox.com&quot;,
&quot;India&quot;, &quot;support_ap@u-blox.com&quot;,
&quot;Australia&quot;, &quot;support_ap@u-blox.com&quot;,
&quot;Rest of APAC&quot;, &quot;support_ap@u-blox.com&quot;,
&quot;support@u-blox.com&quot;
)</expression>
    </formulas>
    <formulas>
        <name>IsNullDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Contact: Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Before Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>605</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>Contact_Flow_decisions</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BooleanTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolFalseLastDateEmailInvalid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolFalseMailingAddrUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolFalseRemoveprodNotif</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolTrueClearSubscription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolTrueDateEmailInvalid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolTrueFinanceRecordType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolTrueMailingAddVisitingAdd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FinanceRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
