force-app/main/default/flows/Design_Registration_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Lead_Assignment</name>
        <label>Lead Assignment</label>
        <locationX>888</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>lead_record.Requestor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestor_email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Distributor_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distributer_Partner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Engineer_s_first_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Engineer_s_last_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customer_engineer_s_e_mail_address.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Registration_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submission_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_s_company_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Project_Tracking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_tracking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.DOQ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DOQ</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_s_country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.uB_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>branch_region_dp_picklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>branch_region_dp_picklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.RFPD_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_dp_picklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_dp_picklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_s_address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Project_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.New_Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TSM:  {!TSM_Name}, {!TSM_email.value}, {!TSM_Phone} FAE:  {!FAE_Name}, {!FAE_email.value}, {!FAE_Phone} OS:  {!OS_name}, {!OS_email.value}, {!OS_Phone} Engineering contact:  {!Engineering_contact_name}, {!Engineering_contact_email.value}, {!Engineering_contact_phone} DOPrototype:  {!Date_of_prototyping_start} DOProd:  {!Date_of_production_start} Reg#:  {!Reg} MPN:  {!MPN} A.S.P:  {!A_S_P} CM: {!CM}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Lead_Source_Webform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Global Distribution</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Products_Of_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MPN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Date_Prototype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_prototyping_start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Date_Production__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_production_start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Annual_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Press_Releases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Webform</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.Global_Distribution_Queue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_details_or_question</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_lead</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>country_code</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CountryCode</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Distributor_Company_Name</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distributor_Company_Name__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>new_application_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>New_Application_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>registration_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Registration_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>uB_Office</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>uB_Office__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>request</name>
        <dataType>String</dataType>
        <expression>{!TSM_Name}</expression>
    </formulas>
    <interviewLabel>Lead Design Registration Form Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Design Registration Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_lead</name>
        <label>Create lead</label>
        <locationX>861</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>success_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <inputReference>lead_record</inputReference>
    </recordCreates>
    <screens>
        <name>Design_registration_Form</name>
        <label>Design registration Form</label>
        <locationX>477</locationX>
        <locationY>327</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>step_2</targetReference>
        </connector>
        <fields>
            <name>page1</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;u&gt;Page 1/2&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>requestor_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requestor Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>requestor_email.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Distributer_Partner_Name</name>
            <choiceReferences>Distributor_Company_Name</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Distributer Partner Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Engineer_s_first_name</name>
            <dataType>String</dataType>
            <fieldText>Customer Engineer&apos;s first name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Engineer_s_last_name</name>
            <dataType>String</dataType>
            <fieldText>Customer Engineer&apos;s last name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>customer_engineer_s_e_mail_address</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Engineer&apos;s e-mail address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>customer_engineer_s_e_mail_address.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Submission_Type</name>
            <choiceReferences>registration_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Submission Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_s_company_name</name>
            <dataType>String</dataType>
            <fieldText>Customer&apos;s company name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_name</name>
            <dataType>String</dataType>
            <fieldText>Project name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_tracking</name>
            <dataType>String</dataType>
            <fieldText>Project / tracking #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be less then 15 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Project_tracking}) &lt; 15</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Reg</name>
            <dataType>String</dataType>
            <fieldText>Reg#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>New Request</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DOQ</name>
            <dataType>String</dataType>
            <fieldText>DOQ#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Input must be 15 char&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!DOQ}) &lt;=15</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Distributer_Partner_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RFPD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Distributer_Partner_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Symmetry Electronics</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MPN</name>
            <dataType>String</dataType>
            <fieldText>MPN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>A_S_P</name>
            <dataType>String</dataType>
            <fieldText>A.S.P</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CM</name>
            <dataType>String</dataType>
            <fieldText>CM</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Distributer_Partner_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RFPD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Distributer_Partner_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Symmetry Electronics</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contract_Manufacturer</name>
            <dataType>String</dataType>
            <fieldText>Contract Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_s_country</name>
            <choiceReferences>country_code</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer&apos;s country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next 1/2</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error Message</label>
        <locationX>667</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Design_registration_Form</targetReference>
        </connector>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;An error has occurred. Kindly resubmit after fixing the below error.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>step_2</name>
        <label>step 2</label>
        <locationX>728</locationX>
        <locationY>389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lead_Assignment</targetReference>
        </connector>
        <fields>
            <name>page_2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Page 2/2&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>step_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>step_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>branch_region_dp_picklist</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>uB_Office__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Branch__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Branch Region</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Branch</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact_dp_picklist</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>RFPD_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Area__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>branch_region_dp_picklist.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Americas</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Distributor_Company_Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>RFPD</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Distributor_Company_Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Symmetry Electronics</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>registration_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Request</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>step_2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>step_2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FAE_Name</name>
                    <dataType>String</dataType>
                    <fieldText>FAE Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FAE_email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>FAE Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FAE_email.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FAE_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>FAE Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Engineering_contact_name</name>
                    <dataType>String</dataType>
                    <fieldText>Engineering contact name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Engineering_contact_email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Engineering contact email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Engineering_contact_email.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Engineering_contact_phone</name>
                    <dataType>String</dataType>
                    <fieldText>Engineering contact phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>Distributor_Company_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RFPD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>registration_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Request</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Distributor_Company_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Symmetry Electronics</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>step_2_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>step_2_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TSM_Name</name>
                    <dataType>String</dataType>
                    <fieldText>TSM Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TSM_email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>TSM_email.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>TSM Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TSM_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>TSM Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OS_name</name>
                    <dataType>String</dataType>
                    <fieldText>OS Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OS_email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>OS email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>OS_email.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OS_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>OS Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Distributer_Partner_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>RFPD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Distributer_Partner_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Symmetry Electronics</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>step_2_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>step_2_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_s_address</name>
                    <dataType>String</dataType>
                    <fieldText>Customer&apos;s address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Zip_Postal_code</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>State_province_region</name>
                    <dataType>String</dataType>
                    <fieldText>State / province / region</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Project_description</name>
                    <fieldText>Project description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Application</name>
                    <choiceReferences>new_application_type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Application</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Units</name>
                    <dataType>Number</dataType>
                    <fieldText>Units</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>registration_type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Request</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>step_2_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>step_2_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_prototyping_start</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of prototyping start</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_production_start</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of production start</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Renew an existing project</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Submission_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Request</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_details_or_question</name>
            <fieldText>Additional details or question</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success_screen</name>
        <label>Success</label>
        <locationX>1062</locationX>
        <locationY>257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;Your request is submitted. Thanks.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>348</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Design_registration_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lead_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
