force-app/main/default/flows/Flow_Contribution_Share.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>add_CS_Unique_ID</name>
        <label>add CS Unique ID</label>
        <locationX>1408</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>$Record.CS_Unique_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addCSUniqueID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Email_Account_Owner</name>
        <label>Add Email Account Owner</label>
        <locationX>1644</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Account_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add2_EmailAddressFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_End_Customer_Acc_Owner</name>
        <label>Add Email End Customer Acc Owner</label>
        <locationX>1524</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_End_Customer_Account_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Customer__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add3_EmailChannelManagerTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_Project_Owner_Acc_Owner</name>
        <label>Add Email Project Owner Acc Owner</label>
        <locationX>1400</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Project_Owner_Account_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Owner_Account__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailProjectOwnerFasle</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_CM_AU</name>
        <label>Email CM AU</label>
        <locationX>1178</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_AU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>andrew.suttle@u-blox.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareAusFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_CM_CN</name>
        <label>Email CM CN</label>
        <locationX>1102</locationX>
        <locationY>1161</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_CN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hamilton.chen@u-blox.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareChinaTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_CM_JP</name>
        <label>Email CM JP</label>
        <locationX>1032</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_JP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tesshu.naka@u-blox.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareJPTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_CM_KR</name>
        <label>Email CM KR</label>
        <locationX>963</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_KR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ks.son@u-blox.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SahreKRFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_CM_TW</name>
        <label>Email CM TW</label>
        <locationX>882</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_TW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>alan.teng@u-blox.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareTWFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_updates</name>
        <label>Email updates</label>
        <locationX>1776</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Account_Channel_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.New_Channel_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_End_Customer_Channel_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Customer__r.New_Channel_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Project_Owner_Channel_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Owner_Account__r.New_Channel_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChannelManagerEmailTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_CM_AU</name>
        <label>Remove Email CM AU</label>
        <locationX>817</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_AU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SahreAUFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_CM_CN</name>
        <label>Remove Email CM CN</label>
        <locationX>518</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_CN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareCNTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_CM_JP</name>
        <label>Remove Email CM JP</label>
        <locationX>431</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_JP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveJapanEmailTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_CM_KR</name>
        <label>Remove Email CM KR</label>
        <locationX>318</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>RemoveKoreaEmailFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_KR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_CM_TW</name>
        <label>Remove Email CM TW</label>
        <locationX>204</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Country_Manager_TW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemoveTaiwanEmailFalse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Status_CS</name>
        <label>Remove Status</label>
        <locationX>91</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CSNameTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CS_Decisions_to_update_fields</name>
        <label>CS: Decisions to update fields</label>
        <locationX>1024</locationX>
        <locationY>643</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>add_Channel_Managers_email_addresses_when_changed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Customer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.End_Customer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Owner_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Owner_Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChannelManagerEmailTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_updates</targetReference>
            </connector>
            <label>add Channel Managers email addresses (when changed)</label>
        </rules>
        <rules>
            <name>X2_add_channel_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Owner.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add2_EmailAddressFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_Account_Owner</targetReference>
            </connector>
            <label>2 add channel manager</label>
        </rules>
        <rules>
            <name>X3_add_channel_manager</name>
            <conditionLogic>1 AND (2 OR 4 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Customer__r.Owner.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Customer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.End_Customer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add3_EmailChannelManagerTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_End_Customer_Acc_Owner</targetReference>
            </connector>
            <label>3 add channel manager</label>
        </rules>
        <rules>
            <name>X4_Add_Email_Project_Owner_Acc_Owner</name>
            <conditionLogic>1 AND (2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Owner_Account__r.Owner.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Owner_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Project_Owner_Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailProjectOwnerFasle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_Project_Owner_Acc_Owner</targetReference>
            </connector>
            <label>4 Add Email Project Owner Acc Owner</label>
        </rules>
        <rules>
            <name>Add_Email_CM_AU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Australia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareAusFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_CM_AU</targetReference>
            </connector>
            <label>Add Email CM AU</label>
        </rules>
        <rules>
            <name>Add_Email_CM_CN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_China__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareChinaTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_CM_CN</targetReference>
            </connector>
            <label>Add Email CM CN</label>
        </rules>
        <rules>
            <name>Add_Email_CM_JP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Japan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareJPTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_CM_JP</targetReference>
            </connector>
            <label>Add Email CM JP</label>
        </rules>
        <rules>
            <name>Add_Email_CM_KR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Korea__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SahreKRFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_CM_KR</targetReference>
            </connector>
            <label>Add Email CM KR</label>
        </rules>
        <rules>
            <name>Add_Email_CM_TW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Taiwan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareTWFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_CM_TW</targetReference>
            </connector>
            <label>Add Email CM TW</label>
        </rules>
        <rules>
            <name>Remove_Email_CM_AU</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Australia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_Australia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SahreAUFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CM_AU</targetReference>
            </connector>
            <label>Remove Email CM AU</label>
        </rules>
        <rules>
            <name>Remove_Email_CM_CN</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_China__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_China__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareCNTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CM_CN</targetReference>
            </connector>
            <label>Remove Email CM CN</label>
        </rules>
        <rules>
            <name>Remove_Email_CM_JP</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Japan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_Japan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoveJapanEmailTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CM_JP</targetReference>
            </connector>
            <label>Remove Email CM JP</label>
        </rules>
        <rules>
            <name>Remove_Email_CM_KR</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Korea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_Korea__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoveKoreaEmailFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CM_KR</targetReference>
            </connector>
            <label>Remove Email CM KR</label>
        </rules>
        <rules>
            <name>Remove_Email_CM_TW</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Share_Taiwan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Share_Taiwan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemoveTaiwanEmailFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CM_TW</targetReference>
            </connector>
            <label>Remove Email CM TW</label>
        </rules>
        <rules>
            <name>Remove_Status</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CSNameTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Status_CS</targetReference>
            </connector>
            <label>Remove Status</label>
        </rules>
        <rules>
            <name>Generate_CS_Unique_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_CS_Unique_ID</targetReference>
            </connector>
            <label>Generate CS Unique ID</label>
        </rules>
    </decisions>
    <formulas>
        <name>addCSUniqueID</name>
        <dataType>String</dataType>
        <expression>&quot;CS-&quot; &amp; {!$Record.Account__r.SF_Account_Number__c} &amp; &quot;-&quot; &amp; {!$Record.End_Customer__r.SF_Account_Number__c} &amp; &quot;-&quot; &amp; {!$Record.Project_Owner_Account__r.SF_Account_Number__c} &amp; &quot;-&quot; &amp; {!$Record.Product__r.Name}</expression>
    </formulas>
    <interviewLabel>Flow: Contribution Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow: Contribution Share</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>906</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>CS_Decisions_to_update_fields</targetReference>
        </connector>
        <object>Contribution_Share__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Add2_EmailAddressFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Add3_EmailChannelManagerTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AddEmailOnCreationTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ChannelManagerEmailTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CSNameTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EmailProjectOwnerFasle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RemoveJapanEmailTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RemoveKoreaEmailFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RemoveTaiwanEmailFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SahreAUFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SahreKRFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShareAusFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShareChinaTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShareCNTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShareJPTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShareTWFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
