force-app/main/default/flows/Lead_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Auto_response</name>
        <label>Lead: Auto response</label>
        <locationX>586</locationX>
        <locationY>5216</locationY>
        <actionName>Lead.Lead_Auto_response_for_webforms_for_new_website_with_Drupal_generic</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lead_Notify_gsol_about_new_leads</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Auto_response_for_webforms</name>
        <label>Lead: Auto response for webforms</label>
        <locationX>586</locationX>
        <locationY>4963</locationY>
        <actionName>Lead.Lead_Auto_response_for_webforms_for_new_website_with_Drupal_AssistNow</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lead_Auto_response_for_webforms_for_new_website_with_Drupal_generic</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Email_Alert_Project_Information_Form</name>
        <label>Lead: Email Alert Project Information Form</label>
        <locationX>581</locationX>
        <locationY>5467</locationY>
        <actionName>Lead.Lead_Email_Alert_Project_Information_Form</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lead_Set_Company_and_Record_Types</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Email_for_APAC_Region</name>
        <label>Lead Email for APAC Region</label>
        <locationX>603</locationX>
        <locationY>1068</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_PCN_APAC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lead_Set_PCN_APAC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Email_notification_for_EMEA_office</name>
        <label>Lead: Email notification for EMEA office</label>
        <locationX>575</locationX>
        <locationY>6331</locationY>
        <actionName>Lead.Lead_Email_notification_for_EMEA_office_and_source_as_Project_Form_Customer_NB_I</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_for_ub_office</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_online_shop_purchase</name>
        <label>Lead: inform about online shop purchase</label>
        <locationX>601</locationX>
        <locationY>519</locationY>
        <actionName>Lead.Lead_inform_about_online_shop_purchase</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lead_PCN_subscription_send_email_alert_Americas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_Americas</name>
        <label>Lead: inform about web2lead action (Americas)</label>
        <locationX>598</locationX>
        <locationY>1723</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_Americas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_Americas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_ANZ</name>
        <label>Lead: inform about web2lead action (ANZ)</label>
        <locationX>600</locationX>
        <locationY>2036</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_ANZ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_ANZ</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_China</name>
        <label>Lead: inform about web2lead action (China)</label>
        <locationX>603</locationX>
        <locationY>2358</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_China</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_China</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_EMEA</name>
        <label>Lead: inform about web2lead action (EMEA)</label>
        <locationX>606</locationX>
        <locationY>2695</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PCN_EMEA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_India</name>
        <label>Lead: inform about web2lead action (India)</label>
        <locationX>603</locationX>
        <locationY>2991</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_India</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_India</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_Japan</name>
        <label>Lead: inform about web2lead action (Japan)</label>
        <locationX>602</locationX>
        <locationY>3307</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_Japan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_Japan</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_Korea</name>
        <label>Lead: inform about web2lead action (Korea)</label>
        <locationX>598</locationX>
        <locationY>3640</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_Korea</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_Korea</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_PCN_Americas</name>
        <label>Lead: inform about web2lead action, PCN (Americas)</label>
        <locationX>599</locationX>
        <locationY>744</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_PCN_Americas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lead_set_PCN</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_PCN_EMEA</name>
        <label>Lead: inform about web2lead action, PCN (EMEA)</label>
        <locationX>598</locationX>
        <locationY>1402</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_PCN_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_EMEA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_Rest_of_APAC</name>
        <label>Lead: inform about web2lead action (Rest of APAC)</label>
        <locationX>601</locationX>
        <locationY>3962</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_APAC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_PCN_ROA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_inform_about_web2lead_action_Taiwan</name>
        <label>Lead: inform about web2lead action (Taiwan)</label>
        <locationX>591</locationX>
        <locationY>4285</locationY>
        <actionName>Lead.Lead_inform_about_web2lead_action_Taiwan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>set_PCN</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Notify_News_Subscription</name>
        <label>Lead: Notify News Subscription</label>
        <locationX>576</locationX>
        <locationY>6001</locationY>
        <actionName>Lead.Lead_Notify_News_Subscription</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Lead_Set_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Lead_Set_Fields</name>
        <label>Lead Set Fields</label>
        <locationX>576</locationX>
        <locationY>6150</locationY>
        <assignmentItems>
            <assignToReference>Record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadFillCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Account_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAccountRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record.Contact_Record_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadContactRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_ub_Office_as_EMEA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_set_PCN</name>
        <label>Lead_set_PCN</label>
        <locationX>599</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_inform_about_web2lead_action_PCN_APAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Set_PCN_APAC</name>
        <label>Lead Set PCN APAC</label>
        <locationX>603</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_PCN_subscription_send_email_alert_EMEA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PCN_EMEA</name>
        <label>PCN EMEA</label>
        <locationX>606</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_India</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_PCN</name>
        <label>set PCN Taiwan</label>
        <locationX>591</locationX>
        <locationY>4441</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Auto_response_for_webforms_for_new_website_with_Drupal_AssistNow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCN_Americas</name>
        <label>Set PCN Americas</label>
        <locationX>598</locationX>
        <locationY>1875</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_ANZ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCN_ANZ</name>
        <label>Set PCN ANZ</label>
        <locationX>599</locationX>
        <locationY>2188</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_China</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCN_China</name>
        <label>Set PCN China</label>
        <locationX>603</locationX>
        <locationY>2514</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_EMEA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCN_EMEA</name>
        <label>Set PCN EMEA</label>
        <locationX>599</locationX>
        <locationY>1555</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_Americas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCN_for_ub_office</name>
        <label>Set PCN for ub office</label>
        <locationX>575</locationX>
        <locationY>6491</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_PCN_India</name>
        <label>Set PCN India</label>
        <locationX>603</locationX>
        <locationY>3141</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_Japan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCN_Japan</name>
        <label>Set PCN Japan</label>
        <locationX>602</locationX>
        <locationY>3464</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_Korea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCN_Korea</name>
        <label>Set PCN Korea</label>
        <locationX>599</locationX>
        <locationY>3792</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_RoA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PCN_ROA</name>
        <label>Set PCN ROA</label>
        <locationX>602</locationX>
        <locationY>4112</locationY>
        <assignmentItems>
            <assignToReference>Record.Change_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_project_form_send_email_alert_Taiwan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>FOR NEW WEBFORMS: Created as Drupal webforms do not work with Auto-Response Rules of the web-to-lead.</description>
        <name>Lead_Auto_response_for_webforms_for_new_website_with_Drupal_AssistNow</name>
        <label>Lead: Auto response for webforms (for new website with Drupal, AssistNow)</label>
        <locationX>412</locationX>
        <locationY>4526</locationY>
        <defaultConnector>
            <targetReference>Lead_Auto_response_for_webforms_for_new_website_with_Drupal_generic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Auto_response_for_webforms_for_new_website_with_Drupal_AssistNow_Condition</name>
            <conditionLogic>(1 OR (2 AND 3)) AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Registration Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Registration Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Auto_response_for_webforms</targetReference>
            </connector>
            <label>Lead: Auto response for webforms (for new website with Drupal, AssistNow) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Webform response except Project Information Form - Customer that is sent from Autopilot</description>
        <name>Lead_Auto_response_for_webforms_for_new_website_with_Drupal_generic</name>
        <label>Lead: Auto response for webforms (for new website with Drupal, generic)</label>
        <locationX>402</locationX>
        <locationY>5105</locationY>
        <defaultConnector>
            <targetReference>Lead_Notify_gsol_about_new_leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Auto_response_for_webforms_for_new_website_with_Drupal_generic_Condition</name>
            <conditionLogic>((1 OR 2 OR 3 OR (4 AND (5 OR 6)) ) AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Form - Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCN subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Form - Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCN Subscription Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Auto_response</targetReference>
            </connector>
            <label>Lead: Auto response for webforms (for new website with Drupal, generic) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Custom_Settings</name>
        <label>Lead Custom Settings</label>
        <locationX>404</locationX>
        <locationY>172</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Custom_Settings_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Notification_Settings__c.Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_online_shop_send_email_alert_APAC</targetReference>
            </connector>
            <label>Lead Custom Settings Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team and assigned account managers.</description>
        <name>Lead_inform_about_web2lead_action_PCN_APAC</name>
        <label>Lead: inform about web2lead action, PCN (APAC)</label>
        <locationX>403</locationX>
        <locationY>981</locationY>
        <defaultConnector>
            <targetReference>Lead_PCN_subscription_send_email_alert_EMEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_inform_about_web2lead_action_PCN_APAC_Condition</name>
            <conditionLogic>( (5 OR 6 OR 7 OR 8 OR 9 OR 10 ) AND (1 OR (2 AND 3)) ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCN subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCN Subscription Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hongkong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rest of APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Email_for_APAC_Region</targetReference>
            </connector>
            <label>Lead: inform about web2lead action, PCN (APAC) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Temporary alert to notify Giovanni Solito and thingstream about new lead. It is for product services requests.</description>
        <name>Lead_Notify_gsol_about_new_leads</name>
        <label>Lead: Notify gsol about new leads</label>
        <locationX>402</locationX>
        <locationY>5346</locationY>
        <defaultConnector>
            <targetReference>Lead_Set_Company_and_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Notify_gsol_about_new_leads_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Products_Of_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IoT-Security-as-a-Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Email_Alert_Project_Information_Form</targetReference>
            </connector>
            <label>Lead: Notify gsol about new leads Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team and assigned account managers.</description>
        <name>Lead_online_shop_send_email_alert_APAC</name>
        <label>Lead / online shop: send email alert (APAC)</label>
        <locationX>404</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Lead_PCN_subscription_send_email_alert_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_online_shop_send_email_alert_APAC_Condition</name>
            <conditionLogic>1 AND 2 AND 9 AND ( 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>u-shop order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hongkong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rest of APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.PartnerAccount.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_online_shop_purchase</targetReference>
            </connector>
            <label>Lead / online shop: send email alert (APAC) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team and assigned account managers.</description>
        <name>Lead_PCN_subscription_send_email_alert_Americas</name>
        <label>Lead / PCN subscription: send email alert (Americas)</label>
        <locationX>404</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Lead_inform_about_web2lead_action_PCN_APAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_PCN_subscription_send_email_alert_Americas_Condition</name>
            <conditionLogic>2 AND (1 OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCN subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCN Subscription Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_PCN_Americas</targetReference>
            </connector>
            <label>Lead / PCN subscription: send email alert (Americas) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team and assigned account managers.</description>
        <name>Lead_PCN_subscription_send_email_alert_EMEA</name>
        <label>Lead / PCN subscription: send email alert (EMEA)</label>
        <locationX>404</locationX>
        <locationY>1315</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_PCN_subscription_send_email_alert_EMEA_Condition</name>
            <conditionLogic>( (2 OR 6 ) AND (1 OR (3 AND 4)) ) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCN subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCN Subscription Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_PCN_EMEA</targetReference>
            </connector>
            <label>Lead / PCN subscription: send email alert (EMEA) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team.</description>
        <name>Lead_project_form_send_email_alert_Americas</name>
        <label>Lead / project form: send email alert (Americas)</label>
        <locationX>403</locationX>
        <locationY>1635</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_ANZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_project_form_send_email_alert_Americas_Condition</name>
            <conditionLogic>(2 AND ( (1 OR 7 OR 8  ) OR (3 AND (4 OR 9 ) )) AND 5 ) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Project Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Registration Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Service Registration Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_Americas</targetReference>
            </connector>
            <label>Lead / project form: send email alert (Americas) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team .</description>
        <name>Lead_project_form_send_email_alert_ANZ</name>
        <label>Lead / project form: send email alert (ANZ)</label>
        <locationX>404</locationX>
        <locationY>1960</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_China</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_project_form_send_email_alert_ANZ_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_ANZ</targetReference>
            </connector>
            <label>Lead / project form: send email alert (ANZ) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team.</description>
        <name>Lead_project_form_send_email_alert_China</name>
        <label>Lead / project form: send email alert (China)</label>
        <locationX>405</locationX>
        <locationY>2274</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_EMEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_project_form_send_email_alert_China_Condition</name>
            <conditionLogic>(1 OR 4 ) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hongkong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_China</targetReference>
            </connector>
            <label>Lead / project form: send email alert (China) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead Source is &quot;Project Form - Customer&quot;, &quot;NB-IoT Project Form&quot;, &quot;Event registration (aloom)&quot; or &quot;Marketing Automation&quot;, inform Lead Owner</description>
        <name>Lead_project_form_send_email_alert_EMEA</name>
        <label>Lead / project form: send email alert (EMEA)</label>
        <locationX>406</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_India</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_project_form_send_email_alert_EMEA_Condition</name>
            <conditionLogic>( ( (1 AND 2 AND (3 OR (4 AND 5) OR (4 AND 6) OR (4 AND 8) OR 7) AND 9) OR (10 AND (7 OR 8)) ) AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Chris5263@gmx.de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Form - Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Form - Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NB-IoT Project Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Automation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event registration (aloom)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_EMEA</targetReference>
            </connector>
            <label>Lead / project form: send email alert (EMEA) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform Indian country manager and sales admin team .</description>
        <name>Lead_project_form_send_email_alert_India</name>
        <label>Lead / project form: send email alert (India)</label>
        <locationX>404</locationX>
        <locationY>2905</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_Japan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>project_form_send_email_alert_India_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_India</targetReference>
            </connector>
            <label>project form: send email alert (India) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team.</description>
        <name>Lead_project_form_send_email_alert_Japan</name>
        <label>Lead / project form: send email alert (Japan)</label>
        <locationX>404</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_Korea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_project_form_send_email_alert_Japan_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_Japan</targetReference>
            </connector>
            <label>Lead / project form: send email alert (Japan) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team.</description>
        <name>Lead_project_form_send_email_alert_Korea</name>
        <label>Lead / project form: send email alert (Korea)</label>
        <locationX>405</locationX>
        <locationY>3556</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_RoA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_project_form_send_email_alert_Korea_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_Korea</targetReference>
            </connector>
            <label>Lead / project form: send email alert (Korea) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team .</description>
        <name>Lead_project_form_send_email_alert_RoA</name>
        <label>Lead / project form: send email alert (RoA)</label>
        <locationX>405</locationX>
        <locationY>3874</locationY>
        <defaultConnector>
            <targetReference>Lead_project_form_send_email_alert_Taiwan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_project_form_send_email_alert_RoA_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rest of APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_Rest_of_APAC</targetReference>
            </connector>
            <label>Lead / project form: send email alert (RoA) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Lead is created via web2lead, inform sales admin team.</description>
        <name>Lead_project_form_send_email_alert_Taiwan</name>
        <label>Lead / project form: send email alert (Taiwan)</label>
        <locationX>405</locationX>
        <locationY>4200</locationY>
        <defaultConnector>
            <targetReference>Lead_Auto_response_for_webforms_for_new_website_with_Drupal_AssistNow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_project_form_send_email_alert_Taiwan_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Global Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_inform_about_web2lead_action_Taiwan</targetReference>
            </connector>
            <label>Lead / project form: send email alert (Taiwan) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>(For News Subscription) Set Company and Record Types for conversion with the one entered on the web form.</description>
        <name>Lead_Set_Company_and_Record_Types</name>
        <label>Lead: Set Company and Record Types</label>
        <locationX>414</locationX>
        <locationY>5728</locationY>
        <defaultConnector>
            <targetReference>Lead_ub_Office_as_EMEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Set_Company_and_Record_Types_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>News Subscription</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Notify_News_Subscription</targetReference>
            </connector>
            <label>Lead: Set Company and Record Types Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>When lead source is &quot;Project Form - Customer&quot;, &quot;NB-IoT Project Form&quot;, AND us office is &apos;EMEA&apos;. then sends the notification email to Crystal</description>
        <name>Lead_ub_Office_as_EMEA</name>
        <label>Lead: ub Office as EMEA</label>
        <locationX>401</locationX>
        <locationY>6234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_ub_Office_as_EMEA_Condition</name>
            <conditionLogic>1 AND ( 2 OR 5 ) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Form - Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digi-Key</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Lead_Source_Webform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NB-IoT Project Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Email_notification_for_EMEA_office</targetReference>
            </connector>
            <label>Lead: ub Office as EMEA Condition</label>
        </rules>
    </decisions>
    <description>Subflow to send Email Alerts
To Create Tasks
Post to Chatter
Its being called from Lead: After Created/Updated flow</description>
    <formulas>
        <name>LeadAccountRecordType</name>
        <dataType>String</dataType>
        <expression>CASE({!Record.Account_Type_Webform__c},
&quot;Media&quot;,&quot;Media&quot;,
&quot;Market Research&quot;,&quot;Media&quot;,
&quot;Finance&quot;)</expression>
    </formulas>
    <formulas>
        <name>LeadContactRecordType</name>
        <dataType>String</dataType>
        <expression>CASE({!Record.Account_Type_Webform__c},
&quot;Media&quot;,&quot;Media&quot;,
&quot;Market Research&quot;,&quot;Media&quot;,
&quot;Finance&quot;)</expression>
    </formulas>
    <formulas>
        <name>LeadFillCompany</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Record.Company_Webform__c})),{!Record.Company_Webform__c},
CASE({!Record.Account_Type_Webform__c},
&quot;General public&quot;, {!Record.FirstName}&amp;&quot; &quot;&amp;{!Record.LastName},
&quot;Private investor&quot;, {!Record.FirstName}&amp;&quot; &quot;&amp;{!Record.LastName},
&quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>TemporaryTokenDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <interviewLabel>Lead : Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>286</locationX>
        <locationY>7</locationY>
        <connector>
            <targetReference>Lead_Custom_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>APACRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hongkong,Taiwan,Rest of APAC,Korea,Japan,China</stringValue>
        </value>
    </variables>
    <variables>
        <name>chinaValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hongkong,China</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsRecordNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LeadSourceValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Project form,Service Registration Form,Web</stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadSourceWebformValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Project Form,Service Registration Form</stringValue>
        </value>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Record_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ubOfficeValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hongkong,Taiwan,Rest of APAC,Korea,Japan,China</stringValue>
        </value>
    </variables>
    <variables>
        <name>updateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
