force-app/main/default/flows/Opp_Product_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Clear_Date_And_Stage_Fields</name>
        <label>Clear Date And Stage Fields</label>
        <locationX>781</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Lost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Date Lost and Stage Lost.</description>
        <name>Clear_Stage_And_Date_Fields_Lost_0</name>
        <label>Clear Stage And Date Fields Lost</label>
        <locationX>785</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Annual_Qty_0_0</name>
        <label>Fill Annual Qty</label>
        <locationX>763</locationX>
        <locationY>1826</locationY>
        <assignmentItems>
            <assignToReference>$Record.Annual_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Annual_Quantity__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Status_Date_Update_0</name>
        <label>Status Date Update</label>
        <locationX>777</locationX>
        <locationY>1528</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Annual_Quantity_not_added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Won_0</name>
        <label>Update Stage Won</label>
        <locationX>783</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Annual Quantity is filled automatically on new record creation.</description>
        <name>Annual_Quantity_not_added</name>
        <label>Annual Quantity not added</label>
        <locationX>488</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fill_Annual_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Annual_Qty_0_0</targetReference>
            </connector>
            <label>Fill Annual Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Add the date when Status has been changed.</description>
        <name>Is_Status_Updated</name>
        <label>Is Status Updated?</label>
        <locationX>489</locationX>
        <locationY>1366</locationY>
        <defaultConnector>
            <targetReference>Annual_Quantity_not_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Date_Update_0</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Clear Date Won/Lost and Stage Won/Lost if Status is changed to something else than Won/Lost.</description>
        <name>Stage_is_not_Won_and_Lost</name>
        <label>Stage is not Won and Lost</label>
        <locationX>491</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Stage_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clear_Date_and_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Date_And_Stage_Fields</targetReference>
            </connector>
            <label>Clear Date and Stage</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set Date Lost and Stage Lost</description>
        <name>Stage_Lost</name>
        <label>Stage Lost</label>
        <locationX>491</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Stage_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Date_and_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Stage_And_Date_Fields_Lost_0</targetReference>
            </connector>
            <label>Update Date and Stage</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set Date Won and Stage Won</description>
        <name>Stage_Won</name>
        <label>Stage Won</label>
        <locationX>490</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Date_and_Stage_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Won_0</targetReference>
            </connector>
            <label>Update Date and Stage</label>
        </rules>
    </decisions>
    <description>Flow trigger on Opp Product to execute before record is created or updated.
Added the assignment to update the &apos;Previous Status&apos; field.</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Opp Product: Before Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Product: Before Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Stage_is_not_Won_and_Lost</targetReference>
        </connector>
        <object>Opp_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DateNull</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
