force-app/main/default/flows/Opp_Product_Record_Update_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Clear_Date_And_Stage_Fields</name>
        <label>Clear Date And Stage Fields</label>
        <locationX>34</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveClearDateAndStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Stage_And_Date_Fields_Lost</name>
        <label>Clear Stage And Date Fields Lost</label>
        <locationX>329</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveUpdateStageLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Annual_Qty</name>
        <label>Fill Annual Qty</label>
        <locationX>897</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>$Record.Annual_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Annual_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveAnnualQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resetting_all_recursive</name>
        <label>resetting all recursive</label>
        <locationX>936</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>isRecursiveAnnualQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveClearDateAndStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveStatusChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveUpdateStageLost</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveUpdateStageWon</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Status_Date_Update</name>
        <label>Status Date Update</label>
        <locationX>778</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveStatusChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Update_Processes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Won</name>
        <label>Update Stage Won</label>
        <locationX>642</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Won__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecursiveUpdateStageWon</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Update_Processes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Update_Processes</name>
        <label>Record Update Processes</label>
        <locationX>519</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>resetting_all_recursive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clear_Date_and_Stage_Won_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveClearDateAndStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Date_And_Stage_Fields</targetReference>
            </connector>
            <label>Clear Date and Stage Won Lost</label>
        </rules>
        <rules>
            <name>Update_Date_and_Stage_Lost_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveUpdateStageLost</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Stage_And_Date_Fields_Lost</targetReference>
            </connector>
            <label>Update Date and Stage Lost Update</label>
        </rules>
        <rules>
            <name>Update_Date_and_Stage_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveUpdateStageWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Won</targetReference>
            </connector>
            <label>Update Date and Stage Won</label>
        </rules>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveStatusChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Date_Update</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
        <rules>
            <name>Fill_Annual_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Annual_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isRecursiveAnnualQty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Annual_Qty</targetReference>
            </connector>
            <label>Fill Annual Quantity</label>
        </rules>
    </decisions>
    <description>Status: Deactivated
Dated from : 16/12/2021
This flow is no longer needed as its functionality moved to flow Opp Product: Before Create/Update</description>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Opp Product: Record Update Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Product: Record Update Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Record_Update_Processes</targetReference>
        </connector>
        <object>Opp_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DateNull</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isRecursiveAnnualQty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveClearDateAndStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveStatusChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveUpdateStageLost</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRecursiveUpdateStageWon</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
