force-app/main/default/flows/Opp_Product_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Opp_Product_Not_M_8_9_10</name>
        <label>Opp Product Not M 8,9,10</label>
        <locationX>770</locationX>
        <locationY>1202</locationY>
        <actionName>Opp_Product__c.opp_prod_Notify_opp_owner_POS_M8_M9_M10</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>POS_ZED_F9_F10_D10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OppProd_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Opp_product_Notification_for_Cellular</name>
        <label>Opp product Notification for Cellular</label>
        <locationX>761</locationX>
        <locationY>753</locationY>
        <actionName>Opp_Product__c.Opp_Prod_Notify_opp_owner_based_on_Cellular_products</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opp_Product_Series_is_M8_9_10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OppProd_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>POS_ZED_Alert</name>
        <label>POS ZED Alert</label>
        <locationX>773</locationX>
        <locationY>1667</locationY>
        <actionName>Opp_Product__c.opp_prod_Notify_opp_owner_POS_ZED_F9</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Product_Series_EMMY_W_OR_JODY_W</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OppProd_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_EMMY_and_W_Chatter</name>
        <label>Post EMMY and W Chatter</label>
        <locationX>773</locationX>
        <locationY>2008</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.EMMY_W_JODY_W_MAYA_W_focus_group__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Email_Notification_Turned_On</name>
        <label>Is Email Notification Turned On</label>
        <locationX>491</locationX>
        <locationY>250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Notification_Settings__c.Opp_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Product_Centre_is_Cellular</targetReference>
            </connector>
            <label>Send Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Product_Centre_is_Cellular</name>
        <label>Opp Product Centre is Cellular ?</label>
        <locationX>491</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Opp_Product_Series_is_M8_9_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cellular_Product</name>
            <conditionLogic>1 AND 2 AND ( 3 OR  4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Product_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cellular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SARA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LARA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LENA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Task</targetReference>
            </connector>
            <label>Cellular Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Product_Series_is_M8_9_10</name>
        <label>Opp Product Series is M8,9,10?</label>
        <locationX>491</locationX>
        <locationY>928</locationY>
        <defaultConnector>
            <targetReference>POS_ZED_F9_F10_D10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POS_M_8_9_10</name>
            <conditionLogic>1 AND 5 AND (2 OR 3 OR 4) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cellular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Positioning_Engine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>u-blox M8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Positioning_Engine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>u-blox M9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Positioning_Engine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>u-blox M10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Task_0</targetReference>
            </connector>
            <label>POS M 8,9,10</label>
        </rules>
    </decisions>
    <decisions>
        <name>POS_ZED_F9_F10_D10</name>
        <label>POS ZED F9,F10 D10 ?</label>
        <locationX>491</locationX>
        <locationY>1384</locationY>
        <defaultConnector>
            <targetReference>Product_Series_EMMY_W_OR_JODY_W</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POS_ZED</name>
            <conditionLogic>1 AND 5 AND (2 OR 3 OR 4) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cellular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Positioning_Engine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>u-blox F9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Positioning_Engine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>u-blox F10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Positioning_Engine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>u-blox D9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Task_0_0</targetReference>
            </connector>
            <label>POS ZED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Series_EMMY_W_OR_JODY_W</name>
        <label>Product Series EMMY-W OR JODY-W</label>
        <locationX>492</locationX>
        <locationY>1839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_to_Chatter_Group_EMMY</name>
            <conditionLogic>1 AND 2 AND 7 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>OppProd_Record.Current_User_Internal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Product_Series__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Product_Series__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMMY-W1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Product_Series__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMMY-W2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Product_Series__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JODY-W2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.Product__r.Product_Series__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JODY-W3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppProd_Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>EMMY_Date_Formula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_EMMY_and_W_Chatter</targetReference>
            </connector>
            <label>Post to Chatter Group EMMY</label>
        </rules>
    </decisions>
    <description>Subflow to send Email Alerts, Create Tasks and Chatter Posts.
This is being called from Opp Product: After Created/Updated Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>EMMY_Date_Formula</name>
        <dataType>Date</dataType>
        <expression>{!Prior_OppProduct.LastModifiedDate}+0.000694*3</expression>
    </formulas>
    <interviewLabel>Opp Product: Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Product: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Task</name>
        <label>Create Opportunity Task</label>
        <locationX>762</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>Opp_product_Notification_for_Cellular</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CHF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The email has been sent to opportunity owner.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OppProd_Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email has been sent to Opportunity Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OppProd_Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Task_0</name>
        <label>Create Opportunity Task</label>
        <locationX>770</locationX>
        <locationY>1065</locationY>
        <connector>
            <targetReference>Opp_Product_Not_M_8_9_10</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CHF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The email has been sent to opportunity owner.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OppProd_Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email has been sent to Opportunity Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OppProd_Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Task_0_0</name>
        <label>Create Opportunity Task</label>
        <locationX>773</locationX>
        <locationY>1531</locationY>
        <connector>
            <targetReference>POS_ZED_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CNY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The email has been sent to opportunity owner.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OppProd_Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email has been sent to Opportunity Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OppProd_Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>373</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Email_Notification_Turned_On</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opp Product you&apos;re following has been updated.

Opportunity: {!OppProd_Record.Opportunity__r.Name}
Account: {!OppProd_Record.Opportunity_Account__c}
Stage: {!OppProd_Record.Opportunity__r.StageName}
Product: {!OppProd_Record.Product__r.Name}
Status: {!OppProd_Record.Status__c}
Updated by: {!OppProd_Record.LastModifiedBy.FirstName} {!OppProd_Record.LastModifiedBy.LastName}
Opportunity: https://u-blox.my.salesforce.com/{!OppProd_Record.Opportunity__r.Id}
Opp Product: https://u-blox.my.salesforce.com/{!OppProd_Record.Id}</text>
    </textTemplates>
    <variables>
        <name>opportunityTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OppProd_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opp_Product__c</objectType>
    </variables>
    <variables>
        <name>Prior_OppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opp_Product__c</objectType>
    </variables>
    <variables>
        <name>RecordIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
