force-app/main/default/flows/Order_Schedule_Path_EVK_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EVK_Alert</name>
        <label>EVK Alert</label>
        <locationX>158</locationX>
        <locationY>633</locationY>
        <actionName>Billings__c.Order_EVK_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>User_is_active_decision</name>
        <label>User is active decision</label>
        <locationX>168</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_user_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EVK_Alert</targetReference>
            </connector>
            <label>is user active?</label>
        </rules>
    </decisions>
    <description>EVK Alert after 21 days of Invoice Date</description>
    <environments>Default</environments>
    <interviewLabel>Order: Schedule Path {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: Schedule Path EVK Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>Reporting_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EVAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EVK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qty_Invoiced__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qty_Invoiced__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Total_Value_CHF__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Billings__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>EVK_shipped_EMEA</name>
            <connector>
                <targetReference>User_is_active_decision</targetReference>
            </connector>
            <label>EVK shipped (EMEA)</label>
            <offsetNumber>21</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
