force-app/main/default/flows/Order_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>alert_to_spie</name>
        <label>alert to :spie:</label>
        <locationX>572</locationX>
        <locationY>803</locationY>
        <actionName>Billings__c.Order_alert_to_spie</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>check_LEA_M8T_0_01</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contribution_to_review_Email</name>
        <label>Contribution to review Email</label>
        <locationX>572</locationX>
        <locationY>1274</locationY>
        <actionName>Billings__c.Order_Contribution_to_review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>MFi_License_Required_Product_ordered</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MFi_License_Required_Product_ordered_Email</name>
        <label>MFi License Required Product ordered Email</label>
        <locationX>567</locationX>
        <locationY>1526</locationY>
        <actionName>Billings__c.Order_MFi_License_Required_Product_ordered</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Wrong_product_for_Samsung_10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_alert_to_spie</name>
        <label>Order: alert to :spie:</label>
        <locationX>576</locationX>
        <locationY>1038</locationY>
        <actionName>Billings__c.Order_alert_to_spie</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contribution_to_review</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_wrong_Delivery_Date_Americas</name>
        <label>Order: wrong Delivery Date (Americas)</label>
        <locationX>599</locationX>
        <locationY>2214</locationY>
        <actionName>Billings__c.Order_wrong_Delivery_Date_Americas</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_wrong_Delivery_Date_APAC</name>
        <label>Order: wrong Delivery Date (APAC)</label>
        <locationX>169</locationX>
        <locationY>2214</locationY>
        <actionName>Billings__c.Order_wrong_Delivery_Date_APAC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_wrong_Delivery_Date_EMEA_Email</name>
        <label>Order: wrong Delivery Date (EMEA) Email</label>
        <locationX>563</locationX>
        <locationY>2000</locationY>
        <actionName>Billings__c.Order_wrong_Delivery_Date_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Delivery_Date_check_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_Wrong_product_for_Samsung_10_Email</name>
        <label>Order: Wrong product for Samsung 10 Email</label>
        <locationX>572</locationX>
        <locationY>1764</locationY>
        <actionName>Billings__c.Order_Wrong_product_for_Samsung_10</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Delivery_Date_check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_APAC_Orders</name>
        <label>Post to APAC Orders</label>
        <locationX>570</locationX>
        <locationY>489</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Frame_Order_Alerted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>APACOrderPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Setup.Hard_Code_Ids__c.APAC_Order_Group__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Frame_Order_Alerted</name>
        <label>Frame Order Alerted</label>
        <locationX>571</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>Record.Frame_Order_Alerted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_UBX_M8130_KT_B302GA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEA-M8T-0-01 and LEA-M8T-0-02 are only for Samsung. None of Account fields (Account, End Customer, Project Owner) is this account, then the email alert is sent to PM.</description>
        <name>check_LEA_M8T_0_01</name>
        <label>check LEA-M8T-0-01</label>
        <locationX>379</locationX>
        <locationY>934</locationY>
        <defaultConnector>
            <targetReference>Contribution_to_review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_LEA_M8T_0_01_Condition</name>
            <conditionLogic>NOT(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Record.Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Samsung</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.End_Customer_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Samsung</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Project_Owner_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Samsung</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.LEA_M8T_0_01__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.LEA_M8T_0_02__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_alert_to_spie</targetReference>
            </connector>
            <label>check LEA-M8T-0-01 Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Notification_Settings</name>
        <label>Check Notification Settings</label>
        <locationX>377</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Notification_Settings_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Notification_Settings__c.Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Frame_Order</targetReference>
            </connector>
            <label>Check Notification Settings Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>UBX-M8130-KT-B302GA is only for Qianxun (001D000001f2c0c). None of Account fields (Account, End Customer, Project Owner) is this account, then the email alert is sent to PM.</description>
        <name>check_UBX_M8130_KT_B302GA</name>
        <label>check UBX-M8130-KT-B302GA</label>
        <locationX>379</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>check_LEA_M8T_0_01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UBX_M8130_KT_B302GA_Condition</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Record.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.Qianxun_Ltd__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.End_Customer_Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.Qianxun_Ltd__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Project_Owner_Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.Qianxun_Ltd__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Hard_Code_Ids__c.UBX_M8130_KT__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alert_to_spie</targetReference>
            </connector>
            <label>UBX-M8130-KT-B302GA Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contribution_to_review</name>
        <label>Contribution to review</label>
        <locationX>378</locationX>
        <locationY>1162</locationY>
        <defaultConnector>
            <targetReference>MFi_License_Required_Product_ordered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contribution_to_review_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Invoice_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.Invoice_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.CM_Pct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Total_Value_CHF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Record.Total_Contribution_CHF__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Total_COGS_CHF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Total_COGS_CHF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contribution_to_review_Email</targetReference>
            </connector>
            <label>Contribution to review Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Email Alert for Orders with wrong Delivery Date (EMEA)</description>
        <name>Delivery_Date_check</name>
        <label>Delivery Date check</label>
        <locationX>376</locationX>
        <locationY>1893</locationY>
        <defaultConnector>
            <targetReference>Delivery_Date_check_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Date_check_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Delivery_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DueDate90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Order_Handling_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Order_Handling_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_wrong_Delivery_Date_EMEA_Email</targetReference>
            </connector>
            <label>Delivery Date check Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Email Alert for Orders with wrong Delivery Date (Americas)</description>
        <name>Delivery_Date_check_Decision</name>
        <label>Delivery Date check_Decision</label>
        <locationX>376</locationX>
        <locationY>2120</locationY>
        <defaultConnector>
            <targetReference>Shop_order_follow_up_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Date_check_Americas_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Delivery_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DueDate90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Order_Handling_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_wrong_Delivery_Date_Americas</targetReference>
            </connector>
            <label>Delivery Date check (Americas) Condition</label>
        </rules>
        <rules>
            <name>Delivery_Date_check_APAC_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Delivery_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DueDate90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Order_Handling_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_wrong_Delivery_Date_APAC</targetReference>
            </connector>
            <label>Delivery Date check (APAC) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Inform PS-SHO on the order for MFi products</description>
        <name>MFi_License_Required_Product_ordered</name>
        <label>MFi License Required Product ordered</label>
        <locationX>378</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Wrong_product_for_Samsung_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MFi_License_Required_Product_ordered_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Product__r.MFi_License_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MFi_License_Required_Product_ordered_Email</targetReference>
            </connector>
            <label>MFi License Required Product ordered Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Frame_Order</name>
        <label>New Frame Order</label>
        <locationX>379</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>check_UBX_M8130_KT_B302GA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Frame_Order_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Order_Handling_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Frame_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Frame_Order_Alerted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_APAC_Orders</targetReference>
            </connector>
            <label>New Frame Order Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shop_order_follow_up_Americas</name>
        <label>Shop order follow-up (Americas)</label>
        <locationX>375</locationX>
        <locationY>2369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shop_order_follow_up_Americas_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Shop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Account_uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Product__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>F001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Account__r.Owner.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Online_shop_order_follow_up</targetReference>
            </connector>
            <label>Shop order follow-up (Americas) Condition</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Email Alert if order is for Samsung with product LEA-M8T-0-10.</description>
        <name>Wrong_product_for_Samsung_10</name>
        <label>Wrong product for Samsung 10</label>
        <locationX>377</locationX>
        <locationY>1656</locationY>
        <defaultConnector>
            <targetReference>Delivery_Date_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_product_for_Samsung_10_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.Customer_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4311.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Product_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LEA-M8T-0-10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Wrong_product_for_Samsung_10_Email</targetReference>
            </connector>
            <label>Wrong product for Samsung 10 Condition</label>
        </rules>
    </decisions>
    <description>Subflow to send Email Alerts
Chatter Posts
Create Task
This is being called from Order: After Created/Updated</description>
    <formulas>
        <name>DueDate90Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <formulas>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!Record.CreatedDate}+7</expression>
    </formulas>
    <interviewLabel>Order: Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Online_shop_order_follow_up</name>
        <label>Online shop order follow-up</label>
        <locationX>383</locationX>
        <locationY>2599</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallObject</field>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments_Internal__c</field>
            <value>
                <stringValue>Set Status to Completed once the follow-up has been done to this Shop order.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Record.Account__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>C</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Online shop order follow-up</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>259</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Notification_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>APACOrderPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There is a new Frame Order as follows 
Order Name: {!Record.Name} 
Account: {!Record.Account__r.Name} 
Country: {!Record.Account__r.BillingCountry} 
Order Status: {!Record.Order_Status__c} 
Link: https://u-blox.my.salesforce.com/{!Record.Id}</text>
    </textTemplates>
    <variables>
        <name>isNEW</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Billings__c</objectType>
    </variables>
    <variables>
        <name>Record_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Billings__c</objectType>
    </variables>
    <variables>
        <name>updateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
