force-app/main/default/flows/Product2_After_Created_Schedule_Path.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_PBE_entries</name>
        <label>Add PBE entries</label>
        <locationX>502</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>PBECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PBE_EURO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PBE_JPY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PBE_USD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PBE_with_EUR</name>
        <label>PBE with EUR</label>
        <locationX>502</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>PBE_EURO.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_EURO.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_EURO.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_EURO.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PBE_with_JPY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PBE_with_JPY</name>
        <label>PBE with JPY</label>
        <locationX>502</locationX>
        <locationY>1197</locationY>
        <assignmentItems>
            <assignToReference>PBE_JPY.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JPY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_JPY.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_JPY.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_JPY.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PBE_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PBE_with_USD</name>
        <label>PBE with USD</label>
        <locationX>502</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>PBE_USD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_USD.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_USD.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PBE_USD.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PBE_with_EUR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_PBE_already_exist</name>
        <label>Check if PBE already exist</label>
        <locationX>493</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_PBE_already_exist_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PBE_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_Price_Book</targetReference>
            </connector>
            <label>Check if PBE already exist condition</label>
        </rules>
    </decisions>
    <description>Its creating price book entries after one minute delay of new product created</description>
    <interviewLabel>Product2: After Created Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product2: After Created Schedule Path</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Price_Book_Entries</name>
        <label>Create Price Book Entries</label>
        <locationX>502</locationX>
        <locationY>1474</locationY>
        <inputReference>PBECollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PBE_records</name>
        <label>Get PBE records</label>
        <locationX>500</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PBE_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>502</locationX>
        <locationY>771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PBE_with_USD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Set_time_for_PBE</name>
            <connector>
                <targetReference>Get_PBE_records</targetReference>
            </connector>
            <label>Set time for PBE</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PBE_EURO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PBE_JPY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PBE_USD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PBECollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
