force-app/main/default/flows/Product_After_Insert_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Fill_IPR_USD_Pct_fields_Assignment</name>
        <label>Fill IPR USD Pct fields Assignment</label>
        <locationX>392</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Consumer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Consumer_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Technology_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Consumer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Consumer_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_M2M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.M2M_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_M2M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.M2M_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Telematics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Telematics_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Telematics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Telematics_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Handset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Handset_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Handset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Handset_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Laptop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Laptop_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Laptop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Laptop_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Other_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Other_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Product_Decisions</name>
        <label>Product Decisions</label>
        <locationX>752</locationX>
        <locationY>293</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fill_IPR_USD_Pct_fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPR_Technology_Changed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPR_Technology_Changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_IPR_USD_Pct_fields_Assignment</targetReference>
            </connector>
            <label>Fill IPR USD Pct fields</label>
        </rules>
    </decisions>
    <interviewLabel>Product: After Insert/Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product: After Insert/Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateRecords</name>
        <label>updateRecords</label>
        <locationX>391</locationX>
        <locationY>475</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>633</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Product_Decisions</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
