force-app/main/default/flows/Product_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Product_Description</name>
        <label>Add Product Description</label>
        <locationX>700</locationX>
        <locationY>1789</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Text_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MAX_Map_Price_isnt_supported</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Description_1_and_2</name>
        <label>Add Product Description 1 and 2</label>
        <locationX>692</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productDescTemplate2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Text_to_Description_1_and_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Description_1_and_3</name>
        <label>Add Product Description 1 and 3</label>
        <locationX>694</locationX>
        <locationY>1510</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productDescUpdate3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Text_to_Description_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Description_1_to_3</name>
        <label>Add Product Description 1 to 3</label>
        <locationX>691</locationX>
        <locationY>980</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productDescTemplate1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Text_to_Description_1_and_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Comment_Updated_Date_assignment</name>
        <label>Comment Updated Date assignment</label>
        <locationX>704</locationX>
        <locationY>4768</locationY>
        <assignmentItems>
            <assignToReference>$Record.Comment_Updated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Fill_IPR_Checked_Date_assignment</name>
        <label>Fill IPR Checked Date assignment</label>
        <locationX>706</locationX>
        <locationY>4490</locationY>
        <assignmentItems>
            <assignToReference>$Record.IPR_Checked_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Comment_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxPrice1</name>
        <label>maxPrice1</label>
        <locationX>793</locationX>
        <locationY>2196</locationY>
        <assignmentItems>
            <assignToReference>$Record.max_MAP_pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPackageSizeGreaterThan1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxPrice1_0</name>
        <label>maxPrice1</label>
        <locationX>794</locationX>
        <locationY>2441</locationY>
        <assignmentItems>
            <assignToReference>$Record.max_MAP_pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPackageSizeGreaterThan10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxPrice1_0_0</name>
        <label>maxPrice1</label>
        <locationX>795</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.max_MAP_pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>25</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPackageSizeGreaterThan25</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxPrice1_0_0_0</name>
        <label>maxPrice1</label>
        <locationX>795</locationX>
        <locationY>2962</locationY>
        <assignmentItems>
            <assignToReference>$Record.max_MAP_pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPackageSizeGreaterThan100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxPrice1_0_0_0_0</name>
        <label>maxPrice1</label>
        <locationX>787</locationX>
        <locationY>3226</locationY>
        <assignmentItems>
            <assignToReference>$Record.max_MAP_pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>250</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPackageSizeGreaterThan250</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxPrice1_0_0_0_0_0</name>
        <label>maxPrice1</label>
        <locationX>787</locationX>
        <locationY>3486</locationY>
        <assignmentItems>
            <assignToReference>$Record.max_MAP_pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPackageSizeGreaterThan500</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxPrice1_0_0_0_0_0_0</name>
        <label>maxPrice1</label>
        <locationX>789</locationX>
        <locationY>3747</locationY>
        <assignmentItems>
            <assignToReference>$Record.max_MAP_pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsPackageSizeGreaterThan2500</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxPrice1_0_0_0_0_0_0_0_0</name>
        <label>maxPrice1</label>
        <locationX>788</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>$Record.max_MAP_pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2500</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>should_Visibility_checkboxes_be_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Center_Assignment</name>
        <label>Product Center Assignment</label>
        <locationX>688</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Text_to_Description_1_to_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_visibility_checkboxes_to_FALSE_Assignment</name>
        <label>Set visibility checkboxes to FALSE  Assignment</label>
        <locationX>706</locationX>
        <locationY>4233</locationY>
        <assignmentItems>
            <assignToReference>$Record.Visible_In_Masterschedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Visible_To_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IPR_Check_Data_Should_be_Filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IPR_Cost</name>
        <label>Update IPR Cost</label>
        <locationX>681</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>$Record.IPR_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPR_CostFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Technology_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Thing_Stream_Condition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Fill the date when the IPR Checked has been checked.</description>
        <name>IPR_Check_Data_Should_be_Filled</name>
        <label>IPR Check Data Should be Filled?</label>
        <locationX>514</locationX>
        <locationY>4368</locationY>
        <defaultConnector>
            <targetReference>Is_Comment_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fill_IPR_Checked_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPR_Checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPR_Checked__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IPR_Checked__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_IPR_Checked_Date_assignment</targetReference>
            </connector>
            <label>Fill IPR Checked Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update when Comment has been updated</description>
        <name>Is_Comment_Changed</name>
        <label>Is Comment Changed?</label>
        <locationX>516</locationX>
        <locationY>4635</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comment_Updated_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Comment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comment_Updated_Date_assignment</targetReference>
            </connector>
            <label>Comment Updated Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_IPR_technology_Changed</name>
        <label>Is IPR technology Changed?</label>
        <locationX>498</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Thing_Stream_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IPR_technology_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPR_Technology__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IPR_Cost</targetReference>
            </connector>
            <label>IPR technology Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPackageSizeGreaterThan1</name>
        <label>IsPackageSizeGreaterThan1</label>
        <locationX>606</locationX>
        <locationY>2326</locationY>
        <defaultConnector>
            <targetReference>IsPackageSizeGreaterThan10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Size_greater_Than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxPrice1_0</targetReference>
            </connector>
            <label>Package Size greater Than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPackageSizeGreaterThan10</name>
        <label>IsPackageSizeGreaterThan10</label>
        <locationX>605</locationX>
        <locationY>2578</locationY>
        <defaultConnector>
            <targetReference>IsPackageSizeGreaterThan25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Size_Greater_Than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxPrice1_0_0</targetReference>
            </connector>
            <label>Package Size Greater Than 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPackageSizeGreaterThan100</name>
        <label>IsPackageSizeGreaterThan100</label>
        <locationX>607</locationX>
        <locationY>3101</locationY>
        <defaultConnector>
            <targetReference>IsPackageSizeGreaterThan250</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Size_Greater_Than_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxPrice1_0_0_0_0</targetReference>
            </connector>
            <label>Package Size Greater Than 100</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPackageSizeGreaterThan25</name>
        <label>IsPackageSizeGreaterThan25</label>
        <locationX>606</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>IsPackageSizeGreaterThan100</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Size_Greater_Than_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxPrice1_0_0_0</targetReference>
            </connector>
            <label>Package Size Greater Than 25</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPackageSizeGreaterThan250</name>
        <label>IsPackageSizeGreaterThan250</label>
        <locationX>608</locationX>
        <locationY>3360</locationY>
        <defaultConnector>
            <targetReference>IsPackageSizeGreaterThan500</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Size_Greater_Than_250</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>250.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxPrice1_0_0_0_0_0</targetReference>
            </connector>
            <label>Package Size Greater Than 250</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPackageSizeGreaterThan2500</name>
        <label>IsPackageSizeGreaterThan2500</label>
        <locationX>610</locationX>
        <locationY>3884</locationY>
        <defaultConnector>
            <targetReference>should_Visibility_checkboxes_be_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Size_Greater_Than_2500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxPrice1_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Package Size Greater Than 2500</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPackageSizeGreaterThan500</name>
        <label>IsPackageSizeGreaterThan500</label>
        <locationX>609</locationX>
        <locationY>3617</locationY>
        <defaultConnector>
            <targetReference>IsPackageSizeGreaterThan2500</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Size_Greater_Than_500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxPrice1_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Package Size Greater Than 500</label>
        </rules>
    </decisions>
    <decisions>
        <name>MAX_Map_Price_isnt_supported</name>
        <label>MAX Map Price isnt supported</label>
        <locationX>504</locationX>
        <locationY>1940</locationY>
        <defaultConnector>
            <targetReference>should_Visibility_checkboxes_be_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MapisntSupportedOrNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support tools</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.max_MAP_pricing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PackageSizeIs1</targetReference>
            </connector>
            <label>MapisntSupportedOrNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>PackageSizeIs1</name>
        <label>PackageSizeIs1</label>
        <locationX>605</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>IsPackageSizeGreaterThan1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Size_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxPrice1</targetReference>
            </connector>
            <label>Package Size 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Text_to_Description_1</name>
        <label>Product Text to Description 1</label>
        <locationX>502</locationX>
        <locationY>1662</locationY>
        <defaultConnector>
            <targetReference>MAX_Map_Price_isnt_supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Description_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product_Description</targetReference>
            </connector>
            <label>Product Description 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Text_to_Description_1_and_2</name>
        <label>Product Text to Description 1 and 2</label>
        <locationX>501</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Product_Text_to_Description_1_and_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Description_1_and_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product_Description_1_and_2</targetReference>
            </connector>
            <label>Product Description 1 and 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Text_to_Description_1_and_3</name>
        <label>Product Text to Description 1 and 3</label>
        <locationX>501</locationX>
        <locationY>1378</locationY>
        <defaultConnector>
            <targetReference>Product_Text_to_Description_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Description_1_and_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product_Description_1_and_3</targetReference>
            </connector>
            <label>Product Description 1 and 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Text_to_Description_1_to_3</name>
        <label>Product Text to Description 1 to 3</label>
        <locationX>498</locationX>
        <locationY>862</locationY>
        <defaultConnector>
            <targetReference>Product_Text_to_Description_1_and_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Description_1_to_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Text_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Product_Description_1_to_3</targetReference>
            </connector>
            <label>Product Description 1 to 3</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Product Status is Obsolete, Active, Visible In Masterschedule and Visible To Partner will be FALSE.</description>
        <name>should_Visibility_checkboxes_be_False</name>
        <label>should Visibility checkboxes be False?</label>
        <locationX>514</locationX>
        <locationY>4116</locationY>
        <defaultConnector>
            <targetReference>IPR_Check_Data_Should_be_Filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_visibility_checkboxes_to_FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_visibility_checkboxes_to_FALSE_Assignment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set visibility checkboxes to FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Thing_Stream_Condition</name>
        <label>Thing Stream Condition</label>
        <locationX>498</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Product_Text_to_Description_1_to_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Implementing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Thingstream_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Center_Assignment</targetReference>
            </connector>
            <label>Implementing</label>
        </rules>
    </decisions>
    <formulas>
        <name>IPR_CostFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.IPR_Technology__c},
&quot;GSM&quot;,&quot;a0H5700000aPfOj&quot;,
&quot;1xRTT&quot;,&quot;a0H5700000aPfOl&quot;,
&quot;EV-DO&quot;,&quot;a0H5700000aPfOk&quot;,
&quot;Rel 5/6&quot;,&quot;a0H5700000aPfOm&quot;,
&quot;Rel 7+&quot;,&quot;a0H5700000aPfOn&quot;,
&quot;Cat 0 Release 13 single-mode&quot;,&quot;a0H5700000bPMal&quot;,
&quot;Cat 1 multi-mode&quot;,&quot;a0H5700000bPMan&quot;,
&quot;Cat 1 multi-mode NO 3G&quot;,&quot;a0H5700000wkC0S&quot;,
&quot;Cat 1 single-mode&quot;,&quot;a0H5700000bPMam&quot;,
&quot;Cat 3 multi-mode&quot;,&quot;a0H5700000uK192&quot;,
&quot;Cat 3 single-mode&quot;,&quot;a0H5700000bPMao&quot;,
&quot;Cat 4 multi-mode&quot;,&quot;a0H5700000bPMap&quot;,
&quot;Cat 4 single-mode&quot;,&quot;a0H5700000eU19K&quot;,
&quot;Cat 6 multi-mode&quot;,&quot;a0H5700000bPMaq&quot;,
&quot;Cat 6 single-mode&quot;,&quot;a0H5700000eU19L&quot;,
&quot;Cat M multi-mode&quot;,&quot;a0H5700000eU19N&quot;,
&quot;Cat M multi-mode NO 3G&quot;,&quot;a0H5700000wkC1f&quot;,
&quot;Cat M single-mode&quot;,&quot;a0H5700000eU19M&quot;,
&quot;NB-IoT&quot;,&quot;a0H5700000bPMar&quot;,
&quot;NB-IoT CN&quot;,&quot;a0H5700001ERXFU&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Product: Before Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product2: Before Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>380</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_IPR_technology_Changed</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>productDescTemplate1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Product_Text_1__c}
{!$Record.Product_Text_2__c}
{!$Record.Product_Text_3__c}</text>
    </textTemplates>
    <textTemplates>
        <name>productDescTemplate2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Product_Text_1__c}
{!$Record.Product_Text_2__c}</text>
    </textTemplates>
    <textTemplates>
        <name>productDescUpdate3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Product_Text_1__c}
{!$Record.Product_Text_3__c}</text>
    </textTemplates>
</Flow>
