force-app/main/default/flows/Product2_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_For_EOL</name>
        <label>Alert For EOL</label>
        <locationX>948</locationX>
        <locationY>972</locationY>
        <actionName>Product2.Product_status_changed_to_EOL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Product_Status_Changed_to_IP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_For_ES</name>
        <label>Alert For ES</label>
        <locationX>942</locationX>
        <locationY>722</locationY>
        <actionName>Product2.Product_status_changed_to_ES</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Id_Status_changed_to_EOL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_For_IP</name>
        <label>Alert For IP</label>
        <locationX>944</locationX>
        <locationY>1222</locationY>
        <actionName>Product2.Product_status_changed_to_IP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Product_Status_Changed_to_MP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_For_Mp</name>
        <label>Alert For Mp</label>
        <locationX>957</locationX>
        <locationY>1478</locationY>
        <actionName>Product2.Product_status_changed_to_MP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Product_Status_Changed_to_Obsolete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_for_Obsolete</name>
        <label>Alert for Obsolete</label>
        <locationX>957</locationX>
        <locationY>1735</locationY>
        <actionName>Product2.Product_status_changed_to_Obsolete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Product_Status_Changed_to_Prototype</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_for_Prototype_0</name>
        <label>Alert for Prototype</label>
        <locationX>950</locationX>
        <locationY>1979</locationY>
        <actionName>Product2.Product_status_changed_to_PT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Alert_for_Product_Creation_POS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>alertForStatusMistachEOL</name>
        <label>alertForStatusMistachEOL</label>
        <locationX>956</locationX>
        <locationY>3124</locationY>
        <actionName>Product2.Products_Product_Status_mismatches_the_gate_dates</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_ES_availability_Date_Passed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>alertStatusMismatchIP</name>
        <label>alertStatusMismatchIP</label>
        <locationX>965</locationX>
        <locationY>3602</locationY>
        <actionName>Product2.Products_Product_Status_mismatches_the_gate_dates</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_MP_availability_Date_Passed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>alertStatusMismatchMP</name>
        <label>alertStatusMismatchMP</label>
        <locationX>963</locationX>
        <locationY>3834</locationY>
        <actionName>Product2.Products_Product_Status_mismatches_the_gate_dates</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Should_Logistic_Overhead_Added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CellularProductAlert</name>
        <label>CellularProductAlert</label>
        <locationX>786</locationX>
        <locationY>2476</locationY>
        <actionName>Product2.Product_creation_alert_CEL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Product_Creation_Alert_SHO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cogs1IsAddedAlert</name>
        <label>Cogs1IsAddedAlert</label>
        <locationX>781</locationX>
        <locationY>4321</locationY>
        <actionName>Product2.Product_COGS_added</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Product_deadline_date_Approaching</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>deadlineDateAlert</name>
        <label>deadlineDateAlert</label>
        <locationX>776</locationX>
        <locationY>4569</locationY>
        <actionName>Product2.Product_Last_Time_Buy_Date_is_approaching</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ARe_required_Documents_missing_for_ES</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EOLshopProductAlert</name>
        <label>EOLshopProductAlert</label>
        <locationX>776</locationX>
        <locationY>5104</locationY>
        <actionName>Product2.Product_shop_product_to_EoL</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>For_Product_Creation_POS</name>
        <label>For Product Creation POS</label>
        <locationX>785</locationX>
        <locationY>2214</locationY>
        <actionName>Product2.Productcreationalert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Alert_for_Product_Creation_CEL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>logisticsOverheadAlert</name>
        <label>logisticsOverheadAlert</label>
        <locationX>770</locationX>
        <locationY>4097</locationY>
        <actionName>Product2.Product_Alert_added_Logistics_Overhead</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_COGS_1_Added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>mismatchAlertAfterES</name>
        <label>mismatchAlertAfterES</label>
        <locationX>963</locationX>
        <locationY>3353</locationY>
        <actionName>Product2.Products_Product_Status_mismatches_the_gate_dates</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_IP_availability_Date_Passed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>missingESDocumentAlert</name>
        <label>missingESDocumentAlert</label>
        <locationX>773</locationX>
        <locationY>4837</locationY>
        <actionName>Product2.Product_Missing_documents_required_for_ES_gate</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Should_Notify_Product_with_EL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SHOProductCreationAlert</name>
        <label>SHOProductCreationAlert</label>
        <locationX>787</locationX>
        <locationY>2739</locationY>
        <actionName>Product2.Product_creation_alert_SHO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Product_Status_Mismatch_with_Gate_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Product_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>logisticOverheadAssignment</name>
        <label>logisticOverheadAssignment</label>
        <locationX>770</locationX>
        <locationY>3952</locationY>
        <assignmentItems>
            <assignToReference>Product_Record.Logistics_Overhead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>logisticsOverheadAlert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Alert_for_Product_Creation_CEL</name>
        <label>Alert for Product Creation CEL?</label>
        <locationX>586</locationX>
        <locationY>2353</locationY>
        <defaultConnector>
            <targetReference>Product_Creation_Alert_SHO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Creation_Alert_Cel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productCreationAlertCellularFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CellularProductAlert</targetReference>
            </connector>
            <label>Product Creation Alert Cel?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alert_for_Product_Creation_POS</name>
        <label>Alert for Product Creation POS?</label>
        <locationX>588</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Alert_for_Product_Creation_CEL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Creation_Alert_POS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productCreationAlertFormulaPOS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Product_Creation_POS</targetReference>
            </connector>
            <label>Product Creation Alert POS?</label>
        </rules>
    </decisions>
    <decisions>
        <name>ARe_required_Documents_missing_for_ES</name>
        <label>ARe required Documents missing for ES?</label>
        <locationX>589</locationX>
        <locationY>4714</locationY>
        <defaultConnector>
            <targetReference>Should_Notify_Product_with_EL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Documents_are_missing_for_ES</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8) AND (9 OR 10 OR 11) AND (12 OR 13) AND 14 AND 15</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Visible_In_Masterschedule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Support tools</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.PS_Availability_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.PS_Availability_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Product_Record.ES_Availability_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.DS_Availability_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.DS_Availability_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Product_Record.ES_Availability_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Manual_Availability_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Manual_Availability_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Product_Record.ES_Availability_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.ES_Availability_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.ES_Availability_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.Product_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>missingESDocumentAlert</targetReference>
            </connector>
            <label>Documents are missing for ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_EOL_and_Obsolete</name>
        <label>For EOL and Obsolete</label>
        <locationX>781</locationX>
        <locationY>3015</locationY>
        <defaultConnector>
            <targetReference>Is_ES_availability_Date_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mismatch_for_EOL_and_Obsolete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>End of Life</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.EOL_PCN_Issue_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.EOL_PCN_Issue_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alertForStatusMistachEOL</targetReference>
            </connector>
            <label>Mismatch for EOL and Obsolete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Status of product changed to End-of-Life</description>
        <name>Id_Status_changed_to_EOL</name>
        <label>Id Status changed to EOL?</label>
        <locationX>730</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Is_Product_Status_Changed_to_IP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_changed_to_EOL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End of Life</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_For_EOL</targetReference>
            </connector>
            <label>Status is changed to EOL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_COGS_1_Added</name>
        <label>Is COGS 1 Added?</label>
        <locationX>589</locationX>
        <locationY>4211</locationY>
        <defaultConnector>
            <targetReference>Is_Product_deadline_date_Approaching</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COGS_1_Alert</name>
            <conditionLogic>1 AND 2 AND( 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.COGS_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.COGS_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Prior_ProductRecord.COGS_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Prior_ProductRecord.COGS_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cogs1IsAddedAlert</targetReference>
            </connector>
            <label>COGS 1 Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Notification_Turned_On</name>
        <label>Is Email Notification Turned On</label>
        <locationX>578</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Notification_Settings__c.Product2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_status_Changed</targetReference>
            </connector>
            <label>Send Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ES_availability_Date_Passed</name>
        <label>Is ES availability Date Passed?</label>
        <locationX>780</locationX>
        <locationY>3253</locationY>
        <defaultConnector>
            <targetReference>Is_IP_availability_Date_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_is_passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Engineering Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Initial Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mass Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>End of Life</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.ES_Availability_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.ES_Availability_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mismatchAlertAfterES</targetReference>
            </connector>
            <label>Date is passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_IP_availability_Date_Passed</name>
        <label>Is IP availability Date Passed?</label>
        <locationX>781</locationX>
        <locationY>3495</locationY>
        <defaultConnector>
            <targetReference>Is_MP_availability_Date_Passed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_is_passed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Initial Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mass Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>End of Life</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.IP_Availability_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.IP_Availability_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alertStatusMismatchIP</targetReference>
            </connector>
            <label>Date is passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MP_availability_Date_Passed</name>
        <label>Is MP availability Date Passed?</label>
        <locationX>782</locationX>
        <locationY>3736</locationY>
        <defaultConnector>
            <targetReference>Should_Logistic_Overhead_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_is_passed_MP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mass Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>End of Life</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.MP_Availability_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.MP_Availability_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alertStatusMismatchMP</targetReference>
            </connector>
            <label>Date is passed MP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_deadline_date_Approaching</name>
        <label>Is Product deadline date Approaching ?</label>
        <locationX>589</locationX>
        <locationY>4446</locationY>
        <defaultConnector>
            <targetReference>ARe_required_Documents_missing_for_ES</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deadline_date_has_approached</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Last_Time_Buy_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>deadlineDateFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.Product_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Last_Time_Buy_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.Last_Time_Buy_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deadlineDateAlert</targetReference>
            </connector>
            <label>Deadline date has approached</label>
        </rules>
    </decisions>
    <decisions>
        <description>Status of product changed to Initial Production</description>
        <name>Is_Product_Status_Changed_to_IP</name>
        <label>Is Product Status Changed to IP?</label>
        <locationX>729</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Is_Product_Status_Changed_to_MP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_changed_status_to_IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Production</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_For_IP</targetReference>
            </connector>
            <label>Product changed status to IP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Status_Changed_to_MP</name>
        <label>Is Product Status Changed to MP?</label>
        <locationX>731</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Is_Product_Status_Changed_to_Obsolete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_changed_to_MP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mass Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_For_Mp</targetReference>
            </connector>
            <label>Status is changed to MP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Status_Changed_to_Obsolete</name>
        <label>Is Product Status Changed to Obsolete?</label>
        <locationX>733</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Is_Product_Status_Changed_to_Prototype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_changed_to_Obsolete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_for_Obsolete</targetReference>
            </connector>
            <label>Status is changed to Obsolete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Status_Changed_to_Prototype</name>
        <label>Is Product Status Changed to Prototype?</label>
        <locationX>735</locationX>
        <locationY>1867</locationY>
        <defaultConnector>
            <targetReference>Alert_for_Product_Creation_POS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_changed_to_Prototype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_for_Prototype_0</targetReference>
            </connector>
            <label>Status is changed to Prototype</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_Changed</name>
        <label>Is status Changed?</label>
        <locationX>578</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Alert_for_Product_Creation_POS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.Product_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal Use Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Status_changed_to_ES</targetReference>
            </connector>
            <label>Status is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Status of product changed to Engineering Samples</description>
        <name>Is_Status_changed_to_ES</name>
        <label>Is Status changed to ES?</label>
        <locationX>730</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>Id_Status_changed_to_EOL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_changed_to_ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_For_ES</targetReference>
            </connector>
            <label>Status is changed to ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Creation_Alert_SHO</name>
        <label>Product Creation Alert SHO?</label>
        <locationX>586</locationX>
        <locationY>2621</locationY>
        <defaultConnector>
            <targetReference>Product_Status_Mismatch_with_Gate_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_SHO_Creation_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.CreatedBy.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>shoProductNameFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHOProductCreationAlert</targetReference>
            </connector>
            <label>Send SHO Creation Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Status_Mismatch_with_Gate_Date</name>
        <label>Product Status Mismatch with Gate Date?</label>
        <locationX>587</locationX>
        <locationY>2886</locationY>
        <defaultConnector>
            <targetReference>Should_Logistic_Overhead_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mismatch_With_Gate_Date</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.Product_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.Product_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_EOL_and_Obsolete</targetReference>
            </connector>
            <label>Mismatch With Gate Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Add 3% to Logistics Overhead if Use Abacus Cost is set and Logistics Overhead is empty.</description>
        <name>Should_Logistic_Overhead_Added</name>
        <label>Should Logistic Overhead Added?</label>
        <locationX>586</locationX>
        <locationY>3842</locationY>
        <defaultConnector>
            <targetReference>Is_COGS_1_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Logistic_Overhead_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Use_Abacus_Cost__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.Use_Abacus_Cost__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Use_Abacus_Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Logistics_Overhead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Owner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>logisticOverheadAssignment</targetReference>
            </connector>
            <label>Logistic Overhead Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Notify_Product_with_EL</name>
        <label>Should Notify Product with EL?</label>
        <locationX>589</locationX>
        <locationY>4976</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notify_EOL_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End of Life</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Product_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_ProductRecord.Product_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Record.Shop_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EOLshopProductAlert</targetReference>
            </connector>
            <label>Notify EOL Product</label>
        </rules>
    </decisions>
    <description>Subflow to send Email Alerts and related field updates
This is being called from Product2: After Created/Updated flow</description>
    <formulas>
        <name>deadlineDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>productCreationAlertCellularFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR(
CONTAINS({!Product_Record.Name}, &quot;ADP&quot;),
CONTAINS({!Product_Record.Name}, &quot;C027&quot;),
CONTAINS({!Product_Record.Name}, &quot;C16&quot;),
CONTAINS({!Product_Record.Name}, &quot;EVK-C&quot;),
CONTAINS({!Product_Record.Name}, &quot;EVK-G&quot;),
CONTAINS({!Product_Record.Name}, &quot;EVK-L&quot;),
CONTAINS({!Product_Record.Name}, &quot;EVK-U&quot;),
CONTAINS({!Product_Record.Name}, &quot;EVK-R&quot;),
CONTAINS({!Product_Record.Name}, &quot;FW27&quot;),
CONTAINS({!Product_Record.Name}, &quot;FW75&quot;),
CONTAINS({!Product_Record.Name}, &quot;LEON&quot;),
CONTAINS({!Product_Record.Name}, &quot;LISA&quot;),
CONTAINS({!Product_Record.Name}, &quot;MPCI&quot;),
CONTAINS({!Product_Record.Name}, &quot;SARA&quot;),
CONTAINS({!Product_Record.Name}, &quot;TOBY&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>productCreationAlertFormulaPOS</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
NOT(CONTAINS({!Product_Record.Name}, &quot;ADP&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;C027&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;C16&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;EVK-C&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;EVK-G&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;EVK-L&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;EVK-U&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;FW27&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;FW75&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;LEON&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;LISA&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;MPCI&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;SALA&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;TOBY&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;ACC-&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;EVK-O&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;EVK-R&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;EVK-W&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;OBC&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;OBI&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;OBS&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;ODIN&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;OLCI&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;OLP&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;OLS&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;OWL&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;OWS&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;PBS&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;PZC&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;RBE&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;RBS&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;RWE&quot;)),
NOT(CONTAINS({!Product_Record.Name}, &quot;WDK&quot;))
)</expression>
    </formulas>
    <formulas>
        <name>shoProductNameFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR(
CONTAINS({!Product_Record.Name}, &quot;WDK&quot;),
CONTAINS({!Product_Record.Name}, &quot;PZC&quot;),
CONTAINS({!Product_Record.Name}, &quot;PBS&quot;),
CONTAINS({!Product_Record.Name}, &quot;OWS&quot;),
CONTAINS({!Product_Record.Name}, &quot;OWL&quot;),
CONTAINS({!Product_Record.Name}, &quot;OLS&quot;),
CONTAINS({!Product_Record.Name}, &quot;OLP&quot;),
CONTAINS({!Product_Record.Name}, &quot;OLCI&quot;),
CONTAINS({!Product_Record.Name}, &quot;OBS&quot;),
CONTAINS({!Product_Record.Name}, &quot;OBI&quot;),
CONTAINS({!Product_Record.Name}, &quot;OBC&quot;),
CONTAINS({!Product_Record.Name}, &quot;EVK-W&quot;),
CONTAINS({!Product_Record.Name}, &quot;EVK-O&quot;),
CONTAINS({!Product_Record.Name}, &quot;ACC-&quot;),
CONTAINS({!Product_Record.Name}, &quot;WB&quot;),
CONTAINS({!Product_Record.Name}, &quot;LILY&quot;),
CONTAINS({!Product_Record.Name}, &quot;EMMY&quot;),
CONTAINS({!Product_Record.Name}, &quot;ELLA&quot;),
CONTAINS({!Product_Record.Name}, &quot;ODIN&quot;)
)</expression>
    </formulas>
    <interviewLabel>Product2: Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product2: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>460</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Email_Notification_Turned_On</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Prior_ProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>updateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
