force-app/main/default/flows/Product2_After_Created_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Fill_IPR_USD_Pct_fields_Assignment</name>
        <label>Fill IPR USD Pct fields Assignment</label>
        <locationX>766</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Consumer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Consumer_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Consumer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Consumer_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_M2M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.M2M_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_M2M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.M2M_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Telematics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Telematics_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Telematics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Telematics_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Handset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Handset_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Handset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Handset_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Laptop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Laptop_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Laptop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Laptop_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_USD_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Other_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Pct_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IPR_Cost__r.Other_Pct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Technology_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IPR_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPR_CostFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Product_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IPRcheckedUpdate</name>
        <label>IPRcheckedUpdate</label>
        <locationX>763</locationX>
        <locationY>1327</locationY>
        <assignmentItems>
            <assignToReference>$Record.IPR_Checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Notifications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Flag_Update</name>
        <label>Check Flag Update</label>
        <locationX>582</locationX>
        <locationY>1654</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>updateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateEmailFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProduct2</targetReference>
            </connector>
            <label>Update Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Active</name>
        <label>Is Product Active</label>
        <locationX>578</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>Is_Product_DeActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivatePricebookRec</targetReference>
            </connector>
            <label>Product is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_DeActive</name>
        <label>Is Product DeActive</label>
        <locationX>579</locationX>
        <locationY>973</locationY>
        <defaultConnector>
            <targetReference>Unchecked_IPR_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_is_DeActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeActivatePricebookEntry</targetReference>
            </connector>
            <label>Product is DeActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Decisions</name>
        <label>Product Decisions</label>
        <locationX>578</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>Is_Product_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fill_IPR_USD_Pct_fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPR_Technology_Changed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPR_Technology_Changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_IPR_USD_Pct_fields_Assignment</targetReference>
            </connector>
            <label>Fill IPR USD Pct fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unchecked_IPR_Checked</name>
        <label>Unchecked IPR Checked</label>
        <locationX>582</locationX>
        <locationY>1213</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IPR_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IPR_Cost__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IPR_Class__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPRcheckedUpdate</targetReference>
            </connector>
            <label>IPR Change</label>
        </rules>
    </decisions>
    <description>After flow trigger on Product2 to update fields
Updated related records
Send Email Alerts</description>
    <environments>Default</environments>
    <formulas>
        <name>IPR_CostFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.IPR_Technology__c},
&quot;GSM&quot;,&quot;a0H5700000aPfOj&quot;,
&quot;1xRTT&quot;,&quot;a0H5700000aPfOl&quot;,
&quot;EV-DO&quot;,&quot;a0H5700000aPfOk&quot;,
&quot;Rel 5/6&quot;,&quot;a0H5700000aPfOm&quot;,
&quot;Rel 7+&quot;,&quot;a0H5700000aPfOn&quot;,
&quot;Cat 0 Release 13 single-mode&quot;,&quot;a0H5700000bPMal&quot;,
&quot;Cat 1 multi-mode&quot;,&quot;a0H5700000bPMan&quot;,
&quot;Cat 1 multi-mode NO 3G&quot;,&quot;a0H5700000wkC0S&quot;,
&quot;Cat 1 single-mode&quot;,&quot;a0H5700000bPMam&quot;,
&quot;Cat 3 multi-mode&quot;,&quot;a0H5700000uK192&quot;,
&quot;Cat 3 single-mode&quot;,&quot;a0H5700000bPMao&quot;,
&quot;Cat 4 multi-mode&quot;,&quot;a0H5700000bPMap&quot;,
&quot;Cat 4 single-mode&quot;,&quot;a0H5700000eU19K&quot;,
&quot;Cat 6 multi-mode&quot;,&quot;a0H5700000bPMaq&quot;,
&quot;Cat 6 single-mode&quot;,&quot;a0H5700000eU19L&quot;,
&quot;Cat M multi-mode&quot;,&quot;a0H5700000eU19N&quot;,
&quot;Cat M multi-mode NO 3G&quot;,&quot;a0H5700000wkC1f&quot;,
&quot;Cat M single-mode&quot;,&quot;a0H5700000eU19M&quot;,
&quot;NB-IoT&quot;,&quot;a0H5700000bPMar&quot;,
&quot;NB-IoT CN&quot;,&quot;a0H5700001ERXFU&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Product2: After Created/Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product2: After Created/Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ActivatePricebookRec</name>
        <label>ActivatePricebookRec</label>
        <locationX>771</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>Is_Product_DeActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>DeActivatePricebookEntry</name>
        <label>DeActivatePricebookEntry</label>
        <locationX>775</locationX>
        <locationY>1078</locationY>
        <connector>
            <targetReference>Unchecked_IPR_Checked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateProduct2</name>
        <label>updateProduct2</label>
        <locationX>591</locationX>
        <locationY>1876</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>460</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Product_Decisions</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email_Notifications</name>
        <label>Send Email Notifications</label>
        <locationX>590</locationX>
        <locationY>1460</locationY>
        <connector>
            <targetReference>Check_Flag_Update</targetReference>
        </connector>
        <flowName>Product2_Email_Alerts</flowName>
        <inputAssignments>
            <name>isNew</name>
            <value>
                <elementReference>isNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Prior_ProductRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Product_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>Product_Record</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>updateEmailFlag</assignToReference>
            <name>updateFlag</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>pricebookRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>updateEmailFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateIpr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>updateIPRClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
