force-app/main/default/flows/Samples_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bluprint_Inform_exc_Americas</name>
        <label>Bluprint Inform exc Americas</label>
        <locationX>204</locationX>
        <locationY>5150</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor_Support_without_Americas_support_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Inform_Logistics_about_Samples_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cellular_New_Request_information</name>
        <label>Cellular New Request</label>
        <locationX>204</locationX>
        <locationY>1982</locationY>
        <actionName>Samples__c.Sample_inform_of_new_request_CEL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>change_the_owner_to_PS_CEL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Final_approval_notification_to_sben</name>
        <label>Final approval notification to :sben:</label>
        <locationX>204</locationX>
        <locationY>1646</locationY>
        <actionName>Samples__c.Samples_Final_approval_notification_to_sben</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Inform_new_Cellular_Request_is_Created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Final_Approval_Sros_0_0</name>
        <label>Final Approval Sros</label>
        <locationX>204</locationX>
        <locationY>1310</locationY>
        <actionName>Samples__c.Samples_Final_approval_notification_to_sros</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmation_Alert_For_Taiwan_and_Japan</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Logistics_about_Samples</name>
        <label>Inform Logistics about Samples</label>
        <locationX>182</locationX>
        <locationY>4478</locationY>
        <actionName>Samples__c.Sample_inform_logistics_of_requested_samples_to_be_shipped</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FAE_Is_Null_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Logistics_about_Samples_0</name>
        <label>Inform Logistics about Samples</label>
        <locationX>204</locationX>
        <locationY>5270</locationY>
        <actionName>Samples__c.Sample_inform_logistics_of_requested_samples_to_be_shipped</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Request_Confirmed_Partial_Shipped_EMEA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>inform_of_AE_review</name>
        <label>inform of AE review</label>
        <locationX>204</locationX>
        <locationY>398</locationY>
        <actionName>Samples__c.Sample_inform_of_AE_review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updateOwnerIdQueue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>inform_of_AE_review_0_0_0</name>
        <label>inform of AE review</label>
        <locationX>204</locationX>
        <locationY>854</locationY>
        <actionName>Samples__c.Sample_inform_of_AE_review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Change_Owner_to_SHO_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_other_than_Support_Americas</name>
        <label>Inform other than Support Americas</label>
        <locationX>182</locationX>
        <locationY>6398</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor_Support_without_Americas_support_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FAE_Email_check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>inform_Owner_and_Requester</name>
        <label>inform Owner and Requester</label>
        <locationX>204</locationX>
        <locationY>7646</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>changeQueue_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>inform_Owner_and_Requester_0</name>
        <label>inform Owner and Requester</label>
        <locationX>204</locationX>
        <locationY>8102</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>changeQueueTo_AEGNSS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>inform_Owner_and_Requester_0_0</name>
        <label>inform Owner and Requester</label>
        <locationX>204</locationX>
        <locationY>8558</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>changeQueue_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Owner_Requester_Support_0</name>
        <label>Inform Owner Requester Support</label>
        <locationX>182</locationX>
        <locationY>3350</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor_Support</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>check_FAE_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Owner_Requester_Support_0_0_0_0_0_0_0</name>
        <label>Inform Owner Requester Support</label>
        <locationX>182</locationX>
        <locationY>5606</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor_Support</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Owner_Requester_Support_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Inform Owner Requester Support</label>
        <locationX>182</locationX>
        <locationY>4358</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor_Support</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Inform_Logistics_about_Samples</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Logistic_Notification_inc_Americas</name>
        <label>Logistic Notification inc Americas</label>
        <locationX>204</locationX>
        <locationY>7190</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor_Support_Americas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>changeQueueToLogisticAdminAmericas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Request_Pos_Alert</name>
        <label>New Request Pos Alert</label>
        <locationX>204</locationX>
        <locationY>2438</locationY>
        <actionName>Samples__c.Sample_inform_of_new_request_POS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>change_the_owner_to_Product_Mark</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Request_SHO_0</name>
        <label>New Request SHO</label>
        <locationX>204</locationX>
        <locationY>2894</locationY>
        <actionName>Samples__c.Sample_inform_of_new_request_SHO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>change_the_owner_to_SHO</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_ladm_team_americas_0_0</name>
        <label>Notification to ladm-team-americas</label>
        <locationX>204</locationX>
        <locationY>9014</locationY>
        <actionName>Samples__c.Samples_Notification_to_ladm_team_americas</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Support_Notification_0</name>
        <label>Support Notification</label>
        <locationX>50</locationX>
        <locationY>4718</locationY>
        <actionName>Samples__c.Sample_Support_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Inform_Sample_Blueprint_for_Partially_Shipped_exc_Americas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Support_Notification_0_0</name>
        <label>Support Notification</label>
        <locationX>50</locationX>
        <locationY>5846</locationY>
        <actionName>Samples__c.Sample_Support_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>changeQueue_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Support_Notification_0_0_0</name>
        <label>Support Notification</label>
        <locationX>50</locationX>
        <locationY>6638</locationY>
        <actionName>Samples__c.Sample_Support_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>changeQueue_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Support_Notification_0_0_0_0</name>
        <label>Support Notification</label>
        <locationX>50</locationX>
        <locationY>3590</locationY>
        <actionName>Samples__c.Sample_Support_Only</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Inform_Sample_Created_inc_Americas</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Without_Americas</name>
        <label>Without Americas</label>
        <locationX>204</locationX>
        <locationY>4022</locationY>
        <actionName>Samples__c.Sample_inform_Sample_Owner_Requestor_Support_without_Americas_support_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Inform_Sample_Blueprint_for_Partially_Shipped</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Samples_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Change_Owner_to_SHO_0_0</name>
        <label>Change Owner to SHO</label>
        <locationX>204</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GD0000003uWXgMAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Alert_For_Diff_APEC_Regions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_the_owner_to_Product_Mark</name>
        <label>change the owner to Product Mark</label>
        <locationX>204</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G20000001LsahEAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inform_new_SHO_Request_is_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_the_owner_to_PS_CEL</name>
        <label>change the owner to PS CEL</label>
        <locationX>204</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GD0000004KcjMMAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inform_new_POS_Request_is_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_the_owner_to_SHO</name>
        <label>change the owner to SHO</label>
        <locationX>204</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GD0000004KcjRMAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inform_Sample_Created_exc_Americas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeQueue_0_0</name>
        <label>changeQueue</label>
        <locationX>204</locationX>
        <locationY>8678</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GD0000003uWXgMAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Recording_Support_Americas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeQueue_0_0_0</name>
        <label>changeQueue</label>
        <locationX>204</locationX>
        <locationY>7766</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G20000001LsacEAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GNSS_Alert_AE_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeQueue_0_0_0_0</name>
        <label>changeQueue</label>
        <locationX>182</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GD0000002UmdbMAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inform_Sample_Created_inc_Americas_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeQueue_0_0_0_0_0</name>
        <label>changeQueue</label>
        <locationX>182</locationX>
        <locationY>6854</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GD0000002UmdlMAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Confirmed_Partial_Shipped_inc_Americas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeQueueTo_AEGNSS</name>
        <label>changeQueueTo AEGNSS</label>
        <locationX>204</locationX>
        <locationY>8222</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G20000001LsZyEAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SHO_Alert_AE_Review_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeQueueToLogisticAdminAmericas</name>
        <label>changeQueueToLogisticAdminAmericas</label>
        <locationX>204</locationX>
        <locationY>7310</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GD0000002UmdlMAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cellular_Alert_AE_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateOwnerIdQueue</name>
        <label>updateOwnerIdQueue</label>
        <locationX>204</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Samples_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G20000001LsZyEAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flagUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blueprint_SHO_Inform_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blueprint_POS_Inform_Owner</name>
        <label>Blueprint POS Inform Owner</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Blueprint_SHO_Inform_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Request_For_Blue_Print_POS</name>
            <conditionLogic>1 AND 2 AND (3 OR 14 OR 15) AND 4 AND 5 AND (6 OR 7 OR 8 OR 9 OR 10) AND (11 OR 12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Samples in production (IP, MP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Short Range</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Sample_Usage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Center__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inform_of_AE_review</targetReference>
            </connector>
            <label>New Request For Blue Print POS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blueprint_SHO_Inform_Owner</name>
        <label>Blueprint SHO Inform Owner</label>
        <locationX>336</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Alert_For_Diff_APEC_Regions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Request_For_Blue_Print_POS_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 14 OR 15) AND 4 AND 5 AND (6 OR 7 OR 8 OR 9 OR 10) AND (11 OR 12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Samples in production (IP, MP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Range</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Center__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Sample_Usage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inform_of_AE_review_0_0_0</targetReference>
            </connector>
            <label>New Request For Blue Print POS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cellular_Alert_AE_Review</name>
        <label>Cellular Alert AE Review?</label>
        <locationX>336</locationX>
        <locationY>7526</locationY>
        <defaultConnector>
            <targetReference>GNSS_Alert_AE_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cellular_Alert</name>
            <conditionLogic>1 AND 2 AND  (3 OR 10 OR 11) AND (4 OR 5 OR 6 OR 7) AND (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE review pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cellular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Center__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inform_Owner_and_Requester</targetReference>
            </connector>
            <label>Cellular Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_FAE_Email</name>
        <label>check FAE Email</label>
        <locationX>182</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>Inform_Sample_Created_inc_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAE_Email_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Notification_0_0_0_0</targetReference>
            </connector>
            <label>FAE Email condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmation_Alert_For_Diff_APEC_Regions</name>
        <label>Confirmation Alert For Diff APEC Regions</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Alert_For_Taiwan_and_Japan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alert_For_Diff_Regions</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9 OR 10) AND 11</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_recording</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Notify_Sales_Admin_Thalwil__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hongkong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rest of APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deactivate_Node</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Approval_Sros_0_0</targetReference>
            </connector>
            <label>Alert For Diff Regions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmation_Alert_For_Taiwan_and_Japan</name>
        <label>Confirmation Alert For Taiwan and Japan</label>
        <locationX>336</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Inform_new_Cellular_Request_is_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alert_For_Diff_Regions_0</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_recording</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Notify_Sales_Admin_Thalwil__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deactivate_Node</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_approval_notification_to_sben</targetReference>
            </connector>
            <label>Alert For Diff Regions</label>
        </rules>
    </decisions>
    <decisions>
        <name>FAE_Email_check</name>
        <label>FAE Email check</label>
        <locationX>182</locationX>
        <locationY>6518</locationY>
        <defaultConnector>
            <targetReference>changeQueue_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAE_Email_Check_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Notification_0_0_0</targetReference>
            </connector>
            <label>FAE Email Check Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>FAE_Is_Null_0</name>
        <label>Is FAE Null?</label>
        <locationX>182</locationX>
        <locationY>4598</locationY>
        <defaultConnector>
            <targetReference>Inform_Sample_Blueprint_for_Partially_Shipped_exc_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAE_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Notification_0</targetReference>
            </connector>
            <label>FAE not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>GNSS_Alert_AE_Review</name>
        <label>GNSS Alert AE Review?</label>
        <locationX>336</locationX>
        <locationY>7982</locationY>
        <defaultConnector>
            <targetReference>SHO_Alert_AE_Review_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GNSS_Alert</name>
            <conditionLogic>1 AND 2 AND (3 OR 11 OR 12) AND 8 AND (4 OR 5 OR 6 OR 7) AND (9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE review pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cellular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Center__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Short Range</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inform_Owner_and_Requester_0</targetReference>
            </connector>
            <label>GNSS Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_new_Cellular_Request_is_Created</name>
        <label>Inform new Cellular Request is Created</label>
        <locationX>336</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Inform_new_POS_Request_is_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Request_Cellular</name>
            <conditionLogic>(1 OR 11) AND 2 AND (3 OR 12 OR 13) AND 4 AND 5 AND (6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Samples in production (IP, MP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cellular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Center__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Sample_Usage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM review pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cellular_New_Request_information</targetReference>
            </connector>
            <label>New Request Cellular</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_new_POS_Request_is_Created</name>
        <label>Inform new POS Request is Created</label>
        <locationX>336</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Inform_new_SHO_Request_is_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Request_POS</name>
            <conditionLogic>(1 OR 11) AND 2 AND (3 OR 13 OR 14) AND 4 AND 5 AND 12 AND (6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Samples in production (IP, MP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cellular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Center__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Sample_Usage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM review pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Short Range</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Request_Pos_Alert</targetReference>
            </connector>
            <label>New Request POS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_new_SHO_Request_is_Created</name>
        <label>Inform new SHO Request is Created</label>
        <locationX>336</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>Inform_Sample_Created_exc_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Request_SHO</name>
            <conditionLogic>(1 OR 11) AND 2 AND (3 OR 12 OR 13) AND 4 AND 5 AND (6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Samples in production (IP, MP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Range</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Center__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Sample_Usage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Sample_Usage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM review pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Request_SHO_0</targetReference>
            </connector>
            <label>New Request SHO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_Sample_Blueprint_for_Partially_Shipped</name>
        <label>Inform Sample(Blueprint) for Partially Shipped</label>
        <locationX>336</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>Inform_Sample_Blueprint_for_Partially_Shipped_exc_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_Partially_Shipped</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5) AND 6 AND 7 AND 8 AND 9 AND (10 OR 11 OR 12) AND 13</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deactivate_Node</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Owner_Requester_Support_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Inform Partially Shipped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_Sample_Blueprint_for_Partially_Shipped_exc_Americas</name>
        <label>Inform Sample(Blueprint) for Partially Shipped exc Americas</label>
        <locationX>336</locationX>
        <locationY>5030</locationY>
        <defaultConnector>
            <targetReference>Request_Confirmed_Partial_Shipped_EMEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inform_Partially_Shipped_exc_Americas</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5) AND 6 AND (7 OR 8 OR 9) AND 10 AND (11 OR 12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeactivateNode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bluprint_Inform_exc_Americas</targetReference>
            </connector>
            <label>Inform Partially Shipped exc Americas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_Sample_Created_exc_Americas</name>
        <label>Inform Sample Created exc Americas</label>
        <locationX>336</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Inform_Sample_Created_inc_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Sample_excluding_Americas</name>
            <conditionLogic>(1 OR 2 OR 6 OR 7) AND (3 OR 14 OR 15)  AND (4 OR 5 OR 8) AND 9 AND 10 AND 11 AND (12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clarification required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tentatively confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Owner_Requester_Support_0</targetReference>
            </connector>
            <label>New Sample excluding Americas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_Sample_Created_inc_Americas</name>
        <label>Inform Sample Created inc Americas</label>
        <locationX>336</locationX>
        <locationY>3902</locationY>
        <defaultConnector>
            <targetReference>Inform_Sample_Blueprint_for_Partially_Shipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Sample_excluding_Americas_0</name>
            <conditionLogic>(1 OR 2 OR 6 OR 7) AND (3 OR 15 OR 16)  AND (4 OR 5 OR 8) AND (9 OR 10 OR 11) AND 12 AND (13 OR 14)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clarification required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tentatively confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeactivateNode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Without_Americas</targetReference>
            </connector>
            <label>New Sample excluding Americas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inform_Sample_Created_inc_Americas_0</name>
        <label>Inform Sample Created inc Americas</label>
        <locationX>336</locationX>
        <locationY>6278</locationY>
        <defaultConnector>
            <targetReference>Request_Confirmed_Partial_Shipped_inc_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Sample_excluding_Americas_0_0</name>
            <conditionLogic>(1 OR 2) AND (3 OR 10) AND 4 AND 5 AND ( 6 OR 7 OR 8 OR 9) AND 11 AND (12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Type_No__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>C16-C20</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.uB_Office__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeactivateNode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_other_than_Support_Americas</targetReference>
            </connector>
            <label>New Sample excluding Americas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Notification_Turned_On</name>
        <label>Is Email Notification Turned On</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Notification_Settings__c.Samples__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blueprint_POS_Inform_Owner</targetReference>
            </connector>
            <label>Send Email Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Recording_Support_Americas</name>
        <label>New Recording Support Americas</label>
        <locationX>336</locationX>
        <locationY>8894</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_recording_Sample_America</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$User.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_recording</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deactivate_Node</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_ladm_team_americas_0_0</targetReference>
            </connector>
            <label>New recording Sample America</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Confirmed_Partial_Shipped_EMEA</name>
        <label>Request Confirmed Partial Shipped EMEA</label>
        <locationX>336</locationX>
        <locationY>5486</locationY>
        <defaultConnector>
            <targetReference>Inform_Sample_Created_inc_Americas_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed_Partial_Shipped_EMEA</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9 AND 10 AND 11 AND 12 AND (13 OR 14) AND 15</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.uB_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Taiwan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Deactivate_Node</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Owner_Requester_Support_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Confirmed Partial Shipped EMEA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Confirmed_Partial_Shipped_inc_Americas</name>
        <label>Request Confirmed Partial Shipped inc Americas</label>
        <locationX>336</locationX>
        <locationY>7070</locationY>
        <defaultConnector>
            <targetReference>Cellular_Alert_AE_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed_Partial_Shipped_inc_Americas</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8) AND (9 OR 11 OR 12) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Ship_To_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Blueprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Logistic_Notification_inc_Americas</targetReference>
            </connector>
            <label>Confirmed Partial Shipped inc Americas</label>
        </rules>
    </decisions>
    <decisions>
        <name>SHO_Alert_AE_Review_0</name>
        <label>SHO Alert AE Review?</label>
        <locationX>336</locationX>
        <locationY>8438</locationY>
        <defaultConnector>
            <targetReference>New_Recording_Support_Americas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SHO_Alert</name>
            <conditionLogic>1 AND 2 AND (3 OR 10 OR 11) AND (4 OR 5 OR 6 OR 7) AND (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE review pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Range</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample_request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Product_Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Product_Center__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inform_Owner_and_Requester_0_0</targetReference>
            </connector>
            <label>SHO Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed?</label>
        <locationX>182</locationX>
        <locationY>5726</locationY>
        <defaultConnector>
            <targetReference>changeQueue_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusIsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Samples_Record.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prior_Samples.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Samples_Record.Account__r.FAE__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Notification_0_0</targetReference>
            </connector>
            <label>StatusIsChanged</label>
        </rules>
    </decisions>
    <description>Subflow on Samples to Send Email Alerts and Field Updates
This is being called from Samples: After Created/Updated</description>
    <environments>Default</environments>
    <interviewLabel>Samples: Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Samples: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Email_Notification_Turned_On</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This will deactivate the node, according to business needs</description>
        <name>Deactivate_Node</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DeactivateNode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>flagUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Prior_Samples</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Samples__c</objectType>
    </variables>
    <variables>
        <name>Samples_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Samples__c</objectType>
    </variables>
</Flow>
