force-app/main/default/flows/Samples_Notifications_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Inform_Initiator_and_Manager_0</name>
        <label>Inform Initiator and Manager</label>
        <locationX>50</locationX>
        <locationY>1286</locationY>
        <actionName>Samples__c.Sample_inform_Initiator_and_Sales_Manager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PT_and_ES_PM_Review_Pending_Status_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Initiator_and_Manager_0_0</name>
        <label>Inform Initiator and Manager</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <actionName>Samples__c.Sample_inform_Initiator_and_Sales_Manager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PT_and_ES_AE_Review_Pending_Status_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Initiator_and_Manager_0_0_0</name>
        <label>Inform Initiator and Manager</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <actionName>Samples__c.Sample_inform_Initiator_and_Sales_Manager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PT_and_ES_Confirmed_Status_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Initiator_and_Manager_0_0_0_0</name>
        <label>Inform Initiator and Manager</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <actionName>Samples__c.Sample_inform_Initiator_and_Sales_Manager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PT_and_ES_Rejected_Status_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Initiator_SM_and_Admin</name>
        <label>Inform Initiator, SM, and Admin</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <actionName>Samples__c.Sample_inform_Initiator_and_Sales_Manager_and_Admin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PT_and_ES_Shipped_Status_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Initiator_SM_and_Admin_0</name>
        <label>Inform Initiator, SM, and Admin</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <actionName>Samples__c.Sample_inform_Initiator_and_Sales_Manager_and_Admin</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_PM_SM_and_Initiator</name>
        <label>Inform PM,SM and Initiator</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>Samples__c.Sample_inform_Initiator_PM_and_SalesManager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PT_and_ES_Clarification_required_Status_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Inform_Sales_Admin</name>
        <label>Inform Sales Admin</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>Samples__c.Sample_Inform_Sales_Admin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Sample_RT_Shipped_Status_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sales_Manager_Or_Initiator_and_Admin</name>
        <label>Sales Manager Or Initiator and Admin</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <actionName>Samples__c.Sample_email_to_sales_manager_or_Initiator_and_Sales_Admin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PT_and_ES_New_Status_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_Sample.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>When Sample Record Type Shipped</description>
        <name>PT_and_ES_AE_Review_Pending_Status_Alert</name>
        <label>PT and ES AE Review Pending Status Alert</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>PT_and_ES_Confirmed_Status_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_and_ES_AE_Review_Pending_Status</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AE review pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Initiator_and_Manager_0_0_0</targetReference>
            </connector>
            <label>PT and ES, AE Review Pending Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Sample Record Type Shipped</description>
        <name>PT_and_ES_Clarification_required_Status_Alert</name>
        <label>PT and ES Clarification required Status Alert</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>PT_and_ES_PM_Review_Pending_Status_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_and_ES_Clarification_required_Status</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clarification required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Initiator_and_Manager_0</targetReference>
            </connector>
            <label>PT and ES Clarification required Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Sample Record Type Shipped</description>
        <name>PT_and_ES_Confirmed_Status_Alert</name>
        <label>PT and ES Confirmed Status Alert</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>PT_and_ES_Shipped_Status_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_and_ES_Confirmed_Status</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Initiator_SM_and_Admin</targetReference>
            </connector>
            <label>PT and ES Confirmed Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Sample Record Type Shipped</description>
        <name>PT_and_ES_New_Status_Alert</name>
        <label>PT and ES New Status Alert</label>
        <locationX>182</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>PT_and_ES_Clarification_required_Status_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_and_ES_New_Status</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_PM_SM_and_Initiator</targetReference>
            </connector>
            <label>PT and ES New Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Sample Record Type Shipped</description>
        <name>PT_and_ES_PM_Review_Pending_Status_Alert</name>
        <label>PT and ES PM Review Pending Status Alert</label>
        <locationX>182</locationX>
        <locationY>1502</locationY>
        <defaultConnector>
            <targetReference>PT_and_ES_AE_Review_Pending_Status_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_and_ES_PM_Review_Pending_Status</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PM review pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Initiator_and_Manager_0_0</targetReference>
            </connector>
            <label>PT and ES PM Review Pending Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Sample Record Type Shipped</description>
        <name>PT_and_ES_Rejected_Status_Alert</name>
        <label>PT and ES Rejected Status Alert</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_and_ES_Rejected_Status</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Initiator_SM_and_Admin_0</targetReference>
            </connector>
            <label>PT and ES Rejected Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Sample Record Type Shipped</description>
        <name>PT_and_ES_Shipped_Status_Alert</name>
        <label>PT and ES Shipped Status Alert</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>PT_and_ES_Rejected_Status_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_and_ES_Shipped_Status</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prototypes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering_Samples</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Initiator_and_Manager_0_0_0_0</targetReference>
            </connector>
            <label>PT and ES Shipped Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Sample Record Type New</description>
        <name>Sample_RT_New_Status_Alert</name>
        <label>Sample RT New Status Alert</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Sample_RT_Shipped_Status_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sample_New_Status_Alert</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Account_Sales_Admin_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Initiator_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inform_Sales_Admin</targetReference>
            </connector>
            <label>Sample New Status Alert</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Sample Record Type Shipped</description>
        <name>Sample_RT_Shipped_Status_Alert</name>
        <label>Sample RT Shipped Status Alert</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>PT_and_ES_New_Status_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sample_New_Status_Alert_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samples</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.Request_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.Request_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Sample.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Prev_Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Manager_Or_Initiator_and_Admin</targetReference>
            </connector>
            <label>Sample New Status Alert</label>
        </rules>
    </decisions>
    <interviewLabel>Samples: Notifications Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Samples: Notifications Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sample_RT_New_Status_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Prev_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Samples__c</objectType>
    </variables>
    <variables>
        <name>Record_Sample</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Samples__c</objectType>
    </variables>
</Flow>
