force-app/main/default/flows/Task_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ask_APAC_Stage_4_done_for_partner_portal</name>
        <label>ask: APAC Stage 4 done for partner portal</label>
        <locationX>1160</locationX>
        <locationY>768</locationY>
        <actionName>Task.Task_Send_Notification_For_Partner_Portal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_the_recordType_for_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>taskRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Marketing_Management</name>
        <label>Post Marketing Management</label>
        <locationX>761</locationX>
        <locationY>427</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_APAC_chip_project_Stage_4_done</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>Marketing Management</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Businnes_Marketing_Group</name>
        <label>Post to Businnes Marketing Group</label>
        <locationX>761</locationX>
        <locationY>1110</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Should_Visit_EMEA_reports</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>New activity related to media or finance, check this {!taskRecord.Subject}: https://u-blox.my.salesforce.com/{!taskRecord.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>Business Marketing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Visit_Reports_EMEA</name>
        <label>Post To Visit Reports EMEA</label>
        <locationX>765</locationX>
        <locationY>1426</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Should_Visit_EMEA_Reports_With_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Check the visit report &quot;{!taskRecord.Subject}&quot; : https://u-blox.my.salesforce.com/{!taskRecord.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>Visit Reports EMEA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Visit_Reports_EMEA_0</name>
        <label>Post To Visit Reports EMEA</label>
        <locationX>775</locationX>
        <locationY>1758</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Should_Check_Notification_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Check the visit report &quot;{!taskRecord.Subject}&quot; at  {!taskRecord.Account.Name} : https://u-blox.my.salesforce.com/{!taskRecord.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>Visit Reports EMEA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Stage_4_Notification</name>
        <label>Stage 4 Notification</label>
        <locationX>771</locationX>
        <locationY>802</locationY>
        <actionName>Task.Task_APAC_Stage_4_done</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_the_recordType_for_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>taskRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_Send_Notification</name>
        <label>Task Send Notification</label>
        <locationX>1008</locationX>
        <locationY>2140</locationY>
        <actionName>Task.Task_Send_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>taskRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Send_Notification_to_false</name>
        <label>Set Send Notification to false</label>
        <locationX>757</locationX>
        <locationY>2140</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.Send_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Send_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_with_GAM</name>
        <label>Account with GAM?</label>
        <locationX>499</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Is_APAC_chip_project_Stage_4_done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GAM_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskRecord.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Current_User_Internal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Account.Global_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>lastModifiedDateFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Marketing_Management</targetReference>
            </connector>
            <label>GAM Decision?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Type</name>
        <label>Check User Type</label>
        <locationX>762</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Stage_4_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Type_PowerPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ask_APAC_Stage_4_done_for_partner_portal</targetReference>
            </connector>
            <label>User Type PowerPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_APAC_chip_project_Stage_4_done</name>
        <label>Is APAC chip project Stage 4 done?</label>
        <locationX>501</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Is_the_recordType_for_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APAC_chip_project_Stage_4_done</name>
            <conditionLogic>1 AND 2 AND 3 AND(4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>taskRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chip Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Stage 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>prior_taskRecord.Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>prior_taskRecord.Subject</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.IsClosed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>prior_taskRecord.IsClosed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Type</targetReference>
            </connector>
            <label>APAC chip project Stage 4 done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_recordType_for_Notification</name>
        <label>Is the recordType for Notification?</label>
        <locationX>507</locationX>
        <locationY>943</locationY>
        <defaultConnector>
            <targetReference>Should_Visit_EMEA_reports</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Notification_for_Record_Type</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>taskRecord.Current_User_Internal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.WhatCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Media</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Businnes_Marketing_Group</targetReference>
            </connector>
            <label>Send Notification for Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Check_Notification_Checkbox</name>
        <label>Should Check Notification Checkbox?</label>
        <locationX>499</locationX>
        <locationY>1939</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Notification_checkbox_Condition</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>taskRecord.Send_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lead conversion (no Opportunity generated)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email has been sent to Opportunity Owner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Send_Notification_to_false</targetReference>
            </connector>
            <label>Send Notification checkbox Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Visit_EMEA_reports</name>
        <label>Should Visit EMEA reports</label>
        <locationX>499</locationX>
        <locationY>1267</locationY>
        <defaultConnector>
            <targetReference>Should_Visit_EMEA_Reports_With_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_report_created_in_EMEA_without_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prior_taskRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Current_User_Internal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Visit_Reports_EMEA</targetReference>
            </connector>
            <label>Visit report created in EMEA (without Account)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Visit_EMEA_Reports_With_Account</name>
        <label>Should Visit EMEA Reports With Account</label>
        <locationX>499</locationX>
        <locationY>1603</locationY>
        <defaultConnector>
            <targetReference>Should_Check_Notification_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_report_created_in_EMEA_with_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prior_taskRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.CreatedBy.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>taskRecord.Current_User_Internal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Visit_Reports_EMEA_0</targetReference>
            </connector>
            <label>Visit report created in EMEA (with Account)</label>
        </rules>
    </decisions>
    <description>Subflow on Task to send Email Notification and to do Chatter Group Posts</description>
    <environments>Default</environments>
    <formulas>
        <name>lastModifiedDateFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!prior_taskRecord.LastModifiedDate} + (0.000694 * 3)</expression>
    </formulas>
    <interviewLabel>Task: Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task: Email Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>381</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_with_GAM</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following Task has been updated

Subject: {!taskRecord.Subject} https://u-blox.my.salesforce.com/{!taskRecord.Id}
Account: {!taskRecord.Account.Name}
Related To: https://u-blox.my.salesforce.com/{!taskRecord.WhatId}</text>
    </textTemplates>
    <variables>
        <description>for storing prior values</description>
        <name>prior_taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
