force-app/main/default/flows/Update_Contact_Subscriptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>boolean</name>
        <label>boolean</label>
        <locationX>1030</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>isUpdatedSuccessfully</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Email_Subscription</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>This flow will update the contact subscriptions.</description>
    <interviewLabel>Update Contact Subscriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Subscriptions new fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Email_Subscription</name>
        <label>Update Email Subscription</label>
        <locationX>600</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>boolean</targetReference>
        </connector>
        <faultConnector>
            <targetReference>boolean</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscribedContact.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Blog__c</field>
            <value>
                <elementReference>Blog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Event_Attendance__c</field>
            <value>
                <elementReference>EventAttendance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Magazine__c</field>
            <value>
                <elementReference>Magazine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_uCenter__c</field>
            <value>
                <elementReference>uCenter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_email__c</field>
            <value>
                <elementReference>EventEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Item_3__c</field>
            <value>
                <elementReference>ServiceItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Webinar_email__c</field>
            <value>
                <elementReference>Webinar</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Update_Email_Subscription</startElementReference>
    <status>Active</status>
    <variables>
        <name>Blog</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailOptOut</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventAttendance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Just for the feedback.</description>
        <name>isUpdatedSuccessfully</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Magazine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceItem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will contain the contact Id.</description>
        <name>SubscribedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>thisContactSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>uCenter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Webinar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
