force-app/main/default/flows/User_update_profile_and_related_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_profile</name>
        <label>assign profile</label>
        <locationX>505</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00e2p000001Pruv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_only_subscription_fields</name>
        <label>update only subscription fields</label>
        <locationX>1243</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>get_contact.Marketing_Communication_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contact_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_subscription_fields</name>
        <label>update subscription fields</label>
        <locationX>1002</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>get_contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_contact.Marketing_Communication_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Deactivated_Users_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contact_update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>User: update profile and related contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: update profile and related contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>997</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Deactivated_Users_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deactivated_Users_Account</name>
        <label>Get Deactivated Users Account</label>
        <locationX>996</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_subscription_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>update_only_subscription_fields</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered Community Users - Deactivated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>contact_update</name>
        <label>contact update</label>
        <locationX>1002</locationX>
        <locationY>846</locationY>
        <inputReference>get_contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_user</name>
        <label>update user</label>
        <locationX>506</locationX>
        <locationY>728</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CspLitePortal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>assign_profile</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>update_Contact</name>
            <connector>
                <targetReference>get_contact</targetReference>
            </connector>
            <label>update Contact</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
