force-app/main/default/flows/User_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Change_Username_to_Email</name>
        <label>Change Username to Email</label>
        <locationX>673</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>$Record.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_User_Manager_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partner_account_to_user_Americas</name>
        <label>Partner account to user Americas</label>
        <locationX>688</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_id_15_digit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order_Restriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Owner</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Partner_account_to_user_EMEA_APAC</name>
        <label>Partner account to user EMEA APAC</label>
        <locationX>227</locationX>
        <locationY>1180</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_id_15_digit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order_Restriction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>When_Manager_Changed</name>
        <label>When Manager Changed</label>
        <locationX>674</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Hierarchy_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserHierarchy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_contact_partner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Americas_Partner_User</name>
        <label>Americas Partner User</label>
        <locationX>454</locationX>
        <locationY>1024</locationY>
        <defaultConnector>
            <targetReference>Partner_account_to_user_EMEA_APAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.uB_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_account_to_user_Americas</targetReference>
            </connector>
            <label>Partner Americas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_User_Manager_Change</name>
        <label>Internal User Manager Change</label>
        <locationX>443</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>is_contact_partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Managerchanged</name>
            <conditionLogic>((1 AND 2) OR 3 ) AND (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ManagerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Manager_Changed</targetReference>
            </connector>
            <label>When Manager changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_contact_partner</name>
        <label>is contact partner</label>
        <locationX>453</locationX>
        <locationY>817</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_is_contact_partner_and_has_contact_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_Partner_User</targetReference>
            </connector>
            <label>check is contact partner and has contact id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portal_User_Email_Change</name>
        <label>Portal User Email Change</label>
        <locationX>443</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Internal_User_Manager_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Username_when_Email_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CspLitePortal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Username_to_Email</targetReference>
            </connector>
            <label>Change Username when Email changes</label>
        </rules>
    </decisions>
    <description>Flow trigger on User to execute on before record is created or updated</description>
    <environments>Default</environments>
    <formulas>
        <name>account_id_15_digit</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Contact.AccountId}, 15)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>UserHierarchy</name>
        <dataType>Number</dataType>
        <expression>if(ISNULL({!$Record.Manager.Hierarchy_Level__c}), NULL , {!$Record.Manager.Hierarchy_Level__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>User: Before Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Before Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>325</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Portal_User_Email_Change</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsRecursiveChangeUserNameTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsRecursiveManagerChangeTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
